.block-info {
  height: calc(100vh - 433px);
  // height: calc(100vh - 406px);
  // height: calc(100vh - 208px);
  padding: 60px 20px;
  background-color: #ffffff;
  text-align: center;
  display: flex;

  &__text {
    margin: auto;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .block-info {
    height: calc(100vh - 234px);
    &__text {
      font-size: 32px;
    }
  }
}

@media (min-width: $desktop-width) {
  .block-info {
    &__text {
      font-size: 48px;
    }
  }
}
