.__hidden {
  display:none;
}

.dropdown {
  position: relative;
}

.dropdown__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 290px;
  width: 320px;
  // margin: 0 auto;
}

.dropdown__wrapper {
  position: relative;
  // margin-left: auto;
  // margin-right: 15px;
  
}

.dropdown__menu {
  @include list-reset();
  // top: 30px;
  // left: 0;
  // z-index: 1;
  width: 290px;  
  margin: 0;
  padding: 12px 16px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  display: none;
}

.dropdown__menu.__show {
  display: block;
}

.__dropdown-menu-open {
  display: block;
}

  .dropdown__menu-item:not(:last-child) {
    margin-bottom: 16px;
  }

.dropdown__menu-text {
  display: flex;
  gap: 8px;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.dropdown__menu-text::before {
  content: "";
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
}

.dropdown__menu-text__mental::before {
  background-image: url("./img/sprite.svg#sp-calligraphiya_uslugi_icon");
}

.dropdown__toggle-button {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  padding: 3px 16px;
  font-family: inherit;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $main-blue;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:focus,
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  &::before {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("./img/sprite.svg#sp-calligraphiya_uslugi_icon");
    background-position: center;
    background-repeat: no-repeat;
  }
  
  &::after {
    content: "";
    width: 8px;
    height: 4px;
    background-image: url("./img/sprite.svg#sp-calligraphiya_uslugi_icon");
    background-position: center;
    background-repeat: no-repeat;
  }
}


// .dropdown__toggle-button::before {
//   content: "";
//   width: 16px;
//   height: 16px;
//   background-image: url("./img/sprite.svg#sp-calligraphiya_uslugi_icon");
//   background-position: center;
//   background-repeat: no-repeat;
// }

// .dropdown__toggle-button::after {
//   content: "";
//   width: 8px;
//   height: 4px;
//   background-image: url("./img/sprite.svg#sp-calligraphiya_uslugi_icon");
//   background-position: center;
//   background-repeat: no-repeat;
// }

@media (min-width: $tablet-width) {

  .dropdown__container {
    width: 580px;
    // width: 500px;
    margin: 0 auto;
  }

  .dropdown__wrapper {
    position: relative;
    width: 700px;
    // margin-left: auto;
    // margin-right: 15px;    
  }

  .dropdown__toggle-button {
    margin-left: 10px;
  }

  .dropdown__menu {
    margin: 20px;
  }

  .dropdown__menu-text {
    display: flex;
    gap: 8px;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  

    &:focus,
    &:hover {
      color: rgba(255, 255, 255, 0.3);
    }
  
    &:active {
      color: rgba(255, 255, 255, 0.7);
    }
  }

}


@media (min-width: $desktop-width) {

  .dropdown__container {
    width: 700px;
    margin: 0 auto;
  }  
}
