.line-decoration {
  position: relative;
  display: block;

  &::before {
    display: none;
  }

  &::after {
    display:none;
  }
}


@media (min-width: $tablet-width) {
  
  .line-decoration {
    position: relative;
    display: block;
  
    &::before {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 10rem;
      height: 1px;
      content: '';
      background-color: #bebebe;
      // transform: translateX(-130%) translateY(-50%);
      opacity: .7;
      transition: width .65s;
      transition-delay: .75s;
    }
  
    &::after {
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      width: 10rem;
      height: 1px;
      content: '';
      background-color: #bebebe;
      // transform: translateX(130%) translateY(-50%);
      opacity: .7;
      transition: width .65s;
      transition-delay: .75s;
    }
  }

  .line-decoration--popular {
    position: relative;
    display: block;
  
    &::before {
      display: block;
      position: absolute;
      top: 50%;
      // left: 0;
      left: 30px;
      width: 13rem;
      height: 1px;
      content: '';
      background-color: #bebebe;
      // transform: translateX(-130%) translateY(-50%);
      opacity: .7;
      transition: width .65s;
      transition-delay: .75s;
    }
  
    &::after {
      display: block;
      position: absolute;
      top: 50%;
      // right: 0;
      right: 30px;
      width: 13rem;
      height: 1px;
      content: '';
      background-color: #bebebe;
      // transform: translateX(130%) translateY(-50%);
      opacity: .7;
      transition: width .65s;
      transition-delay: .75s;
    }
  }
}

@media (min-width: $desktop-width) {

  .line-decoration {
    position: relative;
    display: block;
  
    &::before {
      width: 15rem;
    }
  
    &::after {
      width: 15rem;
    }
  }

  .line-decoration--popular {
    position: relative;
    display: block;
  
    &::before {
        display: none;
    }
  
    &::after {
        display: none;
    }
  }
}
