.main-nav {
  position: relative;
}


.main-nav__toggle {
  position: absolute;
  z-index: 10;

  width: 23px;
  height: 5px;

  top: 20px;
  right: 20px;

  background-color: $main-blue;
  border: none;
  outline: none;
  cursor: pointer;

  transition: all 500ms ease-in-out;

  &::before {
    position: absolute;
    top: -8px;
    left: 0;
    z-index: 10;
    content: "";

    width: 23px;
    height: 5px;

    background-color: $main-blue;
    cursor: pointer;

    transition: all 500ms ease-in-out;
  }

  &::after {
    position: absolute;
    top: 8px;
    left: 0;
    z-index: 10;

    content: "";
    width: 23px;
    height: 5px;

    background-color: $main-blue;
    cursor: pointer;

    transition: all 500ms ease-in-out;
  }
}

.main-nav__toggle--nojs {
  display: none;
}

.main-nav__toggle--closed {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;

  width: 23px;
  height: 5px;

  background-color: transparent;
  cursor: pointer;
  border: none;

  &::before {
    position: absolute;
    top: 5px;
    left: -2px;
    z-index: 10;
    content: "";
    width: 28px;
    height: 5px;

    background-color: $white;
    cursor: pointer;

    transform: rotate(45deg);
  }

  &::after {
    position: absolute;
    top: 5px;
    left: -2px;
    z-index: 10;

    content: "";
    width: 27px;
    height: 5px;

    background-color: $white;
    cursor: pointer;

    transform: rotate(-45deg);
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    position: relative;
  }

  // .main-nav__toggle {
  //   &--closed {
  //     display: none;
  //   }
  // }
}
