
.page-main {
  padding-top: 56px;
}


@media (min-width: $tablet-width) {
  .page-main {
    width: 768px;
    padding-top: 56px;
    // padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    width: 1200px;
    padding-top: 56px;
  }
}
