.page-header {
  text-align: center;
  background-color: $white;

  position: fixed;
  top: 0;
  width: 320px;
  box-shadow: 0 4px 10px rgba(135, 135, 135, 0.1);
  z-index: 100;
  height: 56px;
}

.page-header__logo {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 5;

  transform: translateX(-50%);
}

.page-header__logo-image {
  width: 132px;
  height: 83px;
}

@media (min-width: $tablet-width) {
  .page-header {
    position: fixed;
    top: 0;
    max-width: 768px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(135, 135, 135, 0.1);
    z-index: 100;
  }

  .page-header__logo {
    top: 0;
  }
}


@media (min-width: $desktop-width) {
  .page-header {
    position: fixed;
    top: 0;
    /* left: 0; */
    /* width: 100%; */
    min-width: 1200px;
    box-shadow: 0 4px 10px rgba(135, 135, 135, 0.1);
    z-index: 100;
  }

  .page-header__logo-image {
    width: 187px;
    height: 122px;
  }
}
