  .price {
      position: relative;
      margin: 0 0 37px 0;
      background-color: #ffde03;
      color: #252525;
  }

    .price::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -37px;
      left: 0;
      height: 37px;
      background-image: url("../img/bg-triangle.svg");
      // transform: rotate(180deg);
  }
    .price__wrapper {
      padding: 50px 20px 19px;
      width: auto;
  }

  .price__table {
      border-collapse: collapse;
  }

  .price__header {
    position: relative;
    display: block;
    width: 280px;
    margin-top: 0;
    margin-bottom: 27px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;

    transition: color 0.1s linear;

    &:hover {
      cursor: pointer;
    }
  }

  .price__header::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    content: ".";
    color: transparent;
    background: #000000;
    height: 1px;
    transition: all 0.5s;
  }

  .price__header:hover::after {
    width: 100%;
  }


    .price__rub {
      line-height: 5px;
      width: 0.4em;
      border-bottom: 1px solid #333333;
      display: inline-block;
  }

  .price__rub--white {
    line-height: 8px;
    width: 0.4em;
    border-bottom: 2px solid $white;
    display: inline-block;
  }

  .price__table {
    display: block;
    font-size: 20px;
    line-height: 27px;
  }
  .price__table tbody {
    display: block;
  }
  .price__table tr {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
   justify-content: space-between;
    margin-bottom: 15px;
    // border-bottom:1px solid #797d80;
  }

  .price__table tr:last-child {
    border-bottom:none;
  }

  .price__table td {
    display: block;
    padding: 0 5px;
  }
  .price__table .col-1 {
    display: none;
  }
  .price__table .col-2 {
    padding-left: 0;
    font-weight: bold;
  }
  .price__table .col-3 {
    -ms-flex-order: 4;
        order: 4;
    width: 100%;
    padding-left: 0;
  }
  .price__table .col-4 {
    padding-right: 0;
  }
  .price__discount {
    position: relative;
    box-sizing: border-box;
    height: 90px;
    margin-top: 25px;
    padding: 25px 30px 20px 110px;
    // padding: 30px 10px;
    // padding-left: 110px;
    font-size: 18px;
    // font-size: 16px;
    font-weight: bold;
    // color: #252525;
    color: $main-blue;
    border: 1px solid $main-blue;
    // border: 1px solid #797d80;
    border-radius: 15px 0;
  }

  .price__discount::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 20px;
    width: 57px;
    height: 57px;
    background-image: url("../img/clock illustration.svg");
    transform: translateY(-50%);
  }


  @media (min-width: $tablet-width) {

    .price__wrapper {
        width: 81%;
        /* 640px / 768px ~= 84% */
        max-width: 1200px;
        /* 960px / 0.84 ~= 1142px (центровка начнется чуть раньше 1200px*/
        margin: 0 auto;
        padding: 55px 0 50px;
    }


    .price::after {
      display: none;
    }

    .price__header {
      margin-bottom: 30px;
      width: 294px;
      font-size: 28px;
      // font-size: 40px;
      text-align: left;
    }
    .price__table {
      display: table;
      width: 100%;
    }

    .price__table tr {
      border-bottom:none;
    }

    .price__table tr:nth-child(even) {
      background-color: #fde859;
      // background-color: rgba(255, 222, 3, .3);
      border-radius: 4px;
    }

    .price__table tbody {
      display: table-row-group;
    }
    .price__table tr {
      display: table-row;
    }

  // обводка ячеек таблицы
    .price__table td {
      display: table-cell;
      padding: 12px 19px;
      vertical-align: top;
      // border: 1px solid  #797d80;
    }
    .price__table .col-1 {
      display: table-cell;
      width: 70px;
      padding-right: 0;
      padding-left: 0;
      text-align: center;
      color: #252525;
      // color: rgba(255, 255, 255, 0.3);
    }
    .price__table .col-2 {
      padding: 12px 12px;
    }
    .price__table .col-3 {
      width: auto;
      padding: 12px 12px;
    }
    .price__table .col-4 {
      padding: 12px 12px;
    }
    .price__discount {
      min-height: 120px;
      margin: 0;
      margin-top: 30px;
      padding: 45px 10px;
      padding-left: 105px;
      font-weight: 700;
      font-size: 30px;
      line-height: 27px;
      text-align: center;
      // text-transform: uppercase;
      text-transform: none;
    }
    .price__discount::before {
      left: 27px;
      width: 75px;
      height: 75px;
    }
  }



  @media (min-width: $desktop-width) {
    .price__wrapper {
      padding: 60px 0 80px;
    }
    // .price__header {
    //   padding-left: 70px;
    //   width: 466px;
    // }
    .price__columns {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between;
      -ms-flex-align: stretch;
          align-items: stretch;
    }
    .price__table {
      width: 630px;
    }
    .price__discount {
      display: inline-block;
      width: 270px;
      height: auto;
      margin: 0;
      padding: 220px 55px 10px;
      // padding: 10px 50px;
      // padding-top: 190px;
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      text-transform: none;
    }
    .price__discount::before {
      top: 25px;
      left: 50%;
      width: 140px;
      height: 140px;
      transform: translateY(0) translateX(-50%);
    }
  }
