

.swiper-horizontal {
  touch-action: pan-y;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);
  box-sizing: content-box;
  transition-duration: 0.3s; /* Продолжительность анимации */
  transition-timing-function: ease-in-out; /* Функция времени для анимации */
  // transition: transform 0.5s ease-in-out; /* Добавляем анимацию для перехода между слайдами */  
  scroll-behavior: smooth; 
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
  // opacity: 0;/* Скрываем все слайды, кроме активного */
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

/* Добавляем стили для анимации активного слайда */
.swiper-slide-active {
  transform: scale(1.05); /* Например, увеличиваем активный слайд немного */
  transition: transform 0.3s ease-in-out;
  
  // opacity: 1;/* Показываем активный слайд */
  pointer-events: auto;
}

.swiper-pagination {
  left: 0;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  list-style: none;
  margin: 0 auto;
  padding: 20px 0;
  z-index: 100;
}

.swiper-pagination-bullet {
  background-color: rgba(0, 51, 255, 0.5);
  // pointer-events: none;
  display: block;
  width: 20px;
  height: 5px;
  -webkit-box-flex: 0;
  border-radius: 2px;
  transition: background-color 0.3s ease-in-out;
    /* Добавляем стили для анимации при наведении на точку пагинации */
    // &:hover {
    //   transform: scale(1.2); /* Например, увеличиваем размер при наведении */
    //   transition: transform 0.3s ease-in-out;
    // }
}

.swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #0033ff;
}

  /* Добавляем стили для анимации при наведении на точку пагинации */
  .swiper-pagination-bullet:hover {
    transform: scale(1.2); /* Например, увеличиваем размер при наведении */
    transition: transform 0.3s ease-in-out;
  }

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet:hover {
  opacity: 0.7;
}

.swiper-slide .person-reviews__item {
  // padding: 0 0 0;
  padding: 10px 5px 0;
}


@media (min-width: $tablet-width) {

  .swiper-slide {
    pointer-events: all;
  }

  .swiper-slide .person-reviews__item {
    padding: 20px 80px 0;
  }

  .swiper-slide .person-reviews__item-wrapper {
    padding: 10px 25px 20px; 
  } 

  .carousel-swiper--popular .popular__item-link:hover,
  .carousel-swiper--popular .popular__item-link:focus {
    opacity: 0.7;
  // text-decoration: underline;
  }

  .carousel-swiper--popular .popular__item-link:active {
    opacity: 0.5;
  }

}
