<section class="articles">
  <h2 class="visually-hidden">Раздел с фото и видео о Седоне</h2>

  <ul class="articles__wrapper">
    <li>
      <article class="article article--first">
        <h3 class="visually-hidden">Первая статья с фото о Седоне</h3>
        <a href="#" class="article__link">
          <picture>
            <source type="image/webp" media="(min-width: 1200px)"
              srcset="img/photo-sunset-desktop@1x.webp 1x, img/photo-sunset-desktop@2x.webp 2x">
            <source type="image/webp" media="(min-width: 768px)"
              srcset="img/photo-sunset-tablet@1x.webp 1x, img/photo-sunset-tablet@2x.webp 2x">
            <source type="image/webp"
              srcset="img/photo-sunset-mobile@1x.webp 1x, img/photo-sunset-mobile@2x.webp 2x">

            <source media="(min-width: 1200px)"
              srcset="img/photo-sunset-desktop@1x.jpg 1x, img/photo-sunset-desktop@2x.jpg 2x">
            <source media="(min-width: 768px)"
              srcset="img/photo-sunset-tablet@1x.jpg 1x, img/photo-sunset-tablet@2x.jpg 2x">
            <img class="article__image article__image--first" src="photo-sunset-mobile@1x.jpg"
              srcset="img/photo-sunset-mobile@1x.jpg 1x, img/photo-sunset-mobile@2x.jpg 2x"
              alt="Фото Неродные просторы">
          </picture>
        </a>
        <div class="article__outline">
          <p class="article__author-wrapper">
            <b class="article__title">Неродные просторы</b>
            <span class="article__author-description">Автор фото: </span>
            <span class="article__author">Борис</span>
          </p>
          <span class="article__likes article__likes--first">
            <svg class="article__likes-svg" fill="#b2b2b2" width="22" height="20">
              <use xlink:href="#sp-icon-like"></use>
            </svg>
            1350
          </span>
        </div>
      </article>
    </li>

    <li>
      <article class="article">
        <h3 class="visually-hidden">Вторая статья с фото о Седоне</h3>
        <a href="#" class="article__link">
          <picture>
            <source type="image/webp" media="(min-width: 1200px)"
              srcset="img/photo-cactus-desktop@1x.webp 1x, img/photo-cactus-desktop@2x.webp 2x">
            <source type="image/webp" media="(min-width: 768px)"
              srcset="img/photo-cactus-tablet@1x.webp 1x, img/photo-cactus-tablet@2x.webp 2x">
            <source type="image/webp"
              srcset="img/photo-cactus-mobile@1x.webp 1x, img/photo-cactus-mobile@2x.webp 2x">

            <source media="(min-width: 1200px)"
              srcset="img/photo-cactus-desktop@1x.jpg 1x, img/photo-cactus-desktop@2x.jpg 2x">
            <source media="(min-width: 768px)"
              srcset="img/photo-cactus-tablet@1x.jpg 1x, img/photo-cactus-tablet@2x.jpg 2x">
            <img class="article__image" src="img/photo-cactus-mobilep@1x.jpg"
              srcset="img/photo-cactus-mobile@1x.jpg 1x, img/photo-cactus-mobile@2x.jpg 2x"
              alt="Местная растительность">
          </picture>
        </a>
        <div class="article__outline">
          <p class="article__author-wrapper">
            <b class="article__title">Местная растительность</b>
            <span class="article__author-description">Автор фото: </span>
            <span class="article__author">Сергей</span>
          </p>
          <span class="article__likes">
            <svg class="article__likes-svg" fill="#b2b2b2" width="22" height="20">
              <use xlink:href="#sp-icon-like"></use>
            </svg>
            143
          </span>
        </div>
      </article>
    </li>


    <li>
      <article class="article">
        <h3 class="visually-hidden">Третья статья с фото о Седоне</h3>
        <a href="#" class="article__link">
          <picture>
            <source type="image/webp" media="(min-width: 1200px)"
              srcset="img/photo-roads-desktop@1x.webp 1x, img/photo-roads-desktop@2x.webp 2x">
            <source type="image/webp" media="(min-width: 768px)"
              srcset="img/photo-roads-tablet@1x.webp 1x, img/photo-roads-tablet@2x.webp 2x">
            <source type="image/webp"
              srcset="img/photo-roads-mobile@1x.webp 1x, img/photo-roads-mobile@2x.webp 2x">

            <source media="(min-width: 1200px)"
              srcset="img/photo-roads-desktop@1x.jpg 1x, img/photo-roads-desktop@2x.jpg 2x">
            <source media="(min-width: 768px)"
              srcset="img/photo-roads-tablet@1x.jpg 1x, img/photo-roads-tablet@2x.jpg 2x">
            <img class="article__image" src="img/photo-roads-mobile@1x.jpg"
              srcset="img/photo-roads-mobile@1x.jpg 1x, img/photo-roads-mobile@2x.jpg 2x" alt="Дорога на север">
          </picture>
        </a>
        <div class="article__outline">
          <p class="article__author-wrapper">
            <b class="article__title">Дорога на север</b>
            <span class="article__author-description">Автор фото: </span>
            <span class="article__author">Петр</span>
          </p>
          <span class="article__likes">
            <svg class="article__likes-svg" fill="#b2b2b2" width="22" height="20">
              <use xlink:href="#sp-icon-like"></use>
            </svg>
            96
          </span>
        </div>
      </article>
    </li>


    <li>
      <article class="article">
        <h3 class="visually-hidden">Четвертая статья с фото о Седоне</h3>
        <a href="#" class="article__link">
          <picture>

            <source type="image/webp" media="(min-width: 1200px)"
              srcset="img/photo-bridge-desktop@1x.webp 1x, img/photo-bridge-desktop@2x.webp 2x">
            <source type="image/webp" media="(min-width: 768px)"
              srcset="img/photo-bridge-tablet@1x.webp 1x, img/photo-bridge-tablet@2x.webp 2x">
            <source type="image/webp"
              srcset="img/photo-bridge-mobile@1x.webp 1x, img/photo-bridge-mobile@2x.webp 2x">
            <source media="(min-width: 1200px)"
              srcset="img/photo-bridge-desktop@1x.jpg 1x, img/photo-bridge-desktop@2x.jpg 2x">
            <source media="(min-width: 768px)"
              srcset="img/photo-bridge-tablet@1x.jpg 1x, img/photo-bridge-tablet@2x.jpg 2x">
            <img class="article__image" src="img/photo-bridge-mobile@1x.jpg"
              srcset="img/photo-bridge-mobile@1x.jpg 1x, img/photo-bridge-mobile@2x.jpg 2x" alt="Мост дьявола">
          </picture>
        </a>
        <div class="article__outline">
          <p class="article__author-wrapper">
            <b class="article__title">Мост дьявола</b>
            <span class="article__author-description">Автор фото: </span>
            <span class="article__author">Антон</span>
          </p>
          <span class="article__likes">
            <svg class="article__likes-svg" fill="#b2b2b2" width="22" height="20">
              <use xlink:href="#sp-icon-like"></use>
            </svg>
            254
          </span>
        </div>
      </article>
    </li>
  </ul>





  <div class="articles__video video">
    <div class="video__outline">
      <b class="video__title">Все еще сомневаетесь?</b>
      <p class="video__description">Смотрите видеопрезентацию и скорее за билетами, пока они не подорожали в
        очередной раз!</p>
    </div>
    <picture>
      <source type="image/webp" media="(min-width: 1200px)"
        srcset="img/video-desktop@1x.webp 1x, img/video-desktop@2x.webp 2x">
      <source type="image/webp" media="(min-width: 768px)"
        srcset="img/video-tablet@1x.webp 1x, img/video-tablet@2x.webp 2x">
      <source type="image/webp" srcset="img/video-mobile@1x.webp 1x, img/video-mobile@2x.webp 2x">

      <source media="(min-width: 1200px)" srcset="img/video-desktop@1x.jpg 1x, img/video-desktop@2x.jpg 2x">
      <source media="(min-width: 768px)" srcset="img/video-tablet@1x.jpg 1x, img/video-tablet@2x.jpg 2x">
      <img class="video__player" src="img/video-mobile@1x.jpg"
        srcset="img/video-mobile@1x.jpg 1x, img/video-mobile@2x.jpg 2x" alt="Фото под видео">
    </picture>
    <div class="video__control">
      <div class="video__line">
        <div class="video__hr-line"></div>
        <div class="video__runner"></div>
      </div>

      <button type="button" name="button--replay" class="video__button video__button--replay">
        <span class="visually-hidden">Кнопка просмотра cнова</span>
        <svg class="video__button-svg video__button-svg--replay" xmlns="http://www.w3.org/2000/svg" width="16"
          height="20" fill="#5c6870">
          <use xlink:href="#sp-icon-video-replay"></use>
        </svg>
      </button>

      <button type="button" name="button-cc" class="video__button video__button--cc">
        <span class="visually-hidden">Кнопка включения титров</span>
        <svg class="video__button-svg video__button-svg--cc" xmlns="http://www.w3.org/2000/svg" width="32"
          height="20" fill="#5c6870">
          <use xlink:href="#sp-icon-video-subtitles"></use>
        </svg>
      </button>

      <div class="video__fullscreen">
        <button type="button" name="button-fullscreen" class="video__button video__button--fullscreen">
          <span class="visually-hidden">Кнопка включения и выключения полного экрана</span>
          <svg class="video__button-svg video__button-svg--fullscreen" xmlns="http://www.w3.org/2000/svg"
            width="20" height="20" fill="#5c6870">
            <use xlink:href="#sp-icon-video-fullscreen"></use>
          </svg>
        </button>
      </div>
</section>
