<section class="banner">
  <h2 class="visually-hidden">Вводная секция с баннером о фото и видео в Седоне.</h2>
  <div class="banner__image banner__image--photo">
    <img src="img/text-sedona.svg" alt="Welcome Sedona" width="229" height="39">
  </div>

  <div class="banner__wrapper">
    <p class="banner__slogan">Фото и видео</p>
    <p class="banner__intro banner__intro--photo">Не можете решиться на путешествие из-за курса? Фотографии
      помогут вам забыть о политике и экономике.</p>
  </div>
</section>
