<!-- выпадающий мсписок -->
<!-- .filter этот класс будет-->
<section class="dropdown">
  <div class="dropdown__container"> 
      <div class="dropdown__wrapper">
        <button class="dropdown__toggle-button" type="button" id="dropdownMenuButton" aria-expanded="false">Новости:</button>
        <!-- <ul class="dropdown__menu filter" aria-labelledby="dropdownMenuButton"> -->
        <ul class="dropdown__menu __filter" aria-labelledby="dropdownMenuButton">
          <li class="dropdown__menu-item dropdown__menu-item__mental"value="mental">
            Ментальная
          </li>
          <li class="dropdown__menu-item dropdown__menu-item--en"value="english">
            English
          </li>
          <li class="dropdown__menu-item dropdown__menu-item--robot"value="robot">
            Робототехника
          </li>
          <li class="dropdown__menu-item dropdown__menu-item--tech"value="repetitor">
            Репетитор
          </li>
          <li class="dropdown__menu-item dropdown__menu-item--psich"value="psicho">
            Психотерапевт
          </li>
          <li class="dropdown__menu-item dropdown__menu-item--psich"value="calligraphy">
            Каллиграфия
          </li>
          <li class="dropdown__menu-item dropdown__menu-item--psich"value="neuropsychologist">
            Нейропсихолог
          </li>
          <li class="dropdown__menu-item dropdown__menu-item--psich"value="logopedist">
            Логопед
          </li>
          <li class="dropdown__menu-item dropdown__menu-item--all" value="all">
            Все новости
          </li>
        </ul>
      </div>
  </div>
</section>