<section class="newsdrop">
  <div class="newsdrop__wrapper">
    <ul class="newsdrop__list">
      <li class="newsdrop__item">
        <article class="newsdrop__block" data-category="mental">
          <div class="newsdrop__image-container">
            <a class="newsdrop___image-link" href="/mental.php">
              <img src="img/mental_artical/mental-child-mobile@1x.jpg" width=" " height=" " alt="News Image">
            </a>
          </div>
          <div class="newsdrop__content-container">
            <a class="newsdrop__title-link" href="/mental.php">
              <h3 class="newsdrop__title">Заголовок новости 1</h3>
            </a>
            <p class="newsdrop-text">Текст новости...</p>
            <time class="newsdrop-date" datetime="2023-09-09">Дата публикации: 09 сентября 2023</time>
          </div>
        </article>
      </li>
        <li class="newsdrop__item">
          <article class="newsdrop__block" data-category="robot">
            <div class="newsdrop__image-container">
              <a class="newsdrop___image-link" href="/mental.php">
                <img src="img/mental_artical/mental-child-mobile@1x.jpg" width=" " height=" " alt="News Image">
              </a>
            </div>
            <div class="newsdrop__content-container">
              <a class="newsdrop__title-link" href="/mental.php">
                <h3 class="newsdrop__title">Заголовок новости 2</h3>
              </a>
              <p class="newsdrop-text">Текст новости...</p>
              <time class="newsdrop-date" datetime="2023-09-09">Дата публикации: 09 сентября 2023</time>
            </div>
          </article>
        </li>
        <li class="newsdrop__item">
          <article class="newsdrop__block" data-category="english">
            <div class="newsdrop__image-container">
              <a class="newsdrop___image-link" href="/mental.php">
                <img src="img/mental_artical/mental-child-mobile@1x.jpg" width=" " height=" " alt="News Image">
              </a>
            </div>
            <div class="newsdrop__content-container">
              <a class="newsdrop__title-link" href="/mental.php">
                <h3 class="newsdrop__title">Заголовок новости 3</h3>
              </a>
              <p class="newsdrop-text">Текст новости...</p>
              <time class="newsdrop-date" datetime="2023-09-09">Дата публикации: 09 сентября 2023</time>
            </div>
          </article>
        </li>  
          <!-- Другие новостные блоки здесь -->
    </ul>
  </div>
</section>

<!-- <aside class="main-article__sidebar socials">
  <h2 class="socials-title">Поделиться в соцсетях</h2>
  <ul class="socials-list">
    <li class="socials-item">
      <a class="socials-link socials-link-telegram" href="https://telegram.me/share/url?url=https://abakusstart.ru//mentalnaya-arifmetika.php&text=Поделиться" target="_blank" rel="noopener" aria-label="Share on Telegram" title="Telegram"><span class="visually-hidden">Telegram</span></a>
    </li>
    <li class="socials-item">
      <a class="socials-link socials-link-pinterest" href="https://ru.pinterest.com/pin/create/button/?url=https:///mentalnaya-arifmetika.php" target="_blank" rel="noopener" aria-label="Share on Pinterest" title="Pinterest"><span class="visually-hidden">Pinterest</span></a>
    </li>
    <li class="socials-item">
      <a class="socials-link socials-link-instagram" href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Share on Instagram"  title="Instagram"><span class="visually-hidden">Instagram</span></a>
    </li>
  </ul>
</aside> -->