<!-- баннер -->
<section class="banner">
    <h2 class="visually-hidden">Вводная секция | развивающие программы в детском центре &laquo;СТАРТ&raquo;.</h2>
    <div class="banner__image banner__image--inner">

       <!-- ЧЕРЕЗ тэг picture подключить - см телега save message html ac отзывы -->
      <img src="img/text-abakusstart-index_not.svg" alt="Детский центр развития &laquo;СТАРТ&raquo; в Красноярске,
      в Северном." width="229" height="138">
      <!-- <img src="img/text-sedona.svg" alt="Welcome Sedona" width="229" height="39"> -->
    </div>

    <div class="banner__wrapper--inner">
      <p class="banner__slogan">@banner__slogan</p>
      <p class="banner__intro banner__intro--inner">@banner__intro--inner</p>
    </div>
  </section>