<!-- toglle start-->
  <div class="chat__btn-wrapper">
    <button class="chat__btn-toggle chat__btn-toggle--open" type="button" title="телефон/чат"><span class="visually-hidden">Нажмите,чтобы позвонить, написать в чат детского центра «Старт»"</span>
      <svg class="chat__btn-svg" fill="#24b7cf" width="40" height="40">
        <use xlink:href="img/sprite.svg#sp-icon-messangers-chat_2"></use>
      </svg>
    </button>

    <button class="chat__btn-toggle chat__btn-toggle--clouse __hide" type="button" title="закрыть чат"><span class="visually-hidden">Нажмите, чтобы закрыть чат детского центра «Старт»"</span>
      <svg class="chat__btn-svg" fill="#D5D5D5" width="40" height="40">
        <use xlink:href="img/sprite.svg#sp-icon-cross"></use>
      </svg>
    </button>
  </div>
  <!-- toglle end-->

  <div class="chat">
    <ul class="chat__list">
  <!-- telega -->
      <li class="chat__item">
        <a class="chat__link" href="https://t.me/krasstart" target="_blank" title="Telegram центра">
          <span class="visually-hidden">Telegram детского центра развития &laquo;СТАРТ&raquo; в Красноярске, в Северном.</span>
          <svg class="chat__link-svg chat__link-svg--telegram" fill="#28a8e9" width="40" height="40">
            <use xlink:href="img/sprite.svg#sp-icon-telegram-chat"></use>
          </svg>
        </a>
      </li>
<!-- viber -->
        <li class="chat__item">
          <a class="chat__link" href="#" target="_blank" title="Viber центра">
            <span class="visually-hidden">Viber детского центра развития &laquo;СТАРТ&raquo; в Красноярске, в Северном.</span>
            <svg class="chat__link-svg chat__link-svg--viber" fill="#7360f2" width="40" height="45">
              <use xlink:href="img/sprite.svg#sp-icon-viber-chat"></use>
            </svg>
          </a>
        </li>
<!-- wp -->
      <li class="chat__item">
        <a class="chat__link" href="#" target="_blank" title="Whatsapp центра">
          <span class="visually-hidden">Whatsapp детского центра развития &laquo;СТАРТ&raquo; в Красноярске, в Северном.</span>
          <svg class="chat__link-svg chat__link-svg--whatsapp" fill="#4caf50" width="40" height="40">
            <use xlink:href="img/sprite.svg#sp-icon-whatsapp-chat"></use>
          </svg>
        </a>
      </li>
<!-- telefon -->
        <li class="chat__item">
          <a class="chat__link" href="tel:+79080104854" title="Телефон центра">
            <span class="visually-hidden">Телефон детского центра развития &laquo;СТАРТ&raquo; в Красноярске, в Северном.</span>
              <svg class="chat__link-svg chat__link-svg--telefon" fill="#24b7cf" width="40" height="40">
                <use xlink:href="img/sprite.svg#sp-icon-tel-chat"></use>
              </svg>
          </a>
        </li>
    </ul>
  </div>
  <!-- чат_telegram_viber_wp_tel end-->
