
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "ItemList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "item": {
            "@type": "Course",
            "url":"https://abakusstart.ru/robototekhnika.php",
            "name": "Робототехника для детей от 4-х лет в Северном Красноярск.",
            "description": "Обучение детей основам конструирования и программирования роботов в игровой форме.",
            "provider": {
              "@type": "Organization",
              "name": "Детский центр &laquo;СТАРТ&raquo;",
              "sameAs": "https://abakusstart.ru"
           }
          }
        },
        {
          "@type": "ListItem",
          "position": 2,
          "item": {
            "@type": "Course",
            "url":"https://abakusstart.ru/repetitor-nachalnaya-shkola.php",
            "name": "Репетитор  1-4 классов",
            "description": "Домашние задания, школьная программа в начальных классах, помощь в подготовке к ВПР.",
            "provider": {
              "@type": "Organization",
              "name": "Детский центр &laquo;СТАРТ&raquo;",
              "sameAs": "https://abakusstart.ru"
           }
         }
        },
        {
          "@type": "ListItem",
          "position": 3,
          "item": {
            "@type": "Course",
            "url":"https://abakusstart.ru/logoped-defektolog.php",
            "name": "Логопед-дефектолог",
            "description": "Исправление комплекса речевых проблем у детей: ранняя диагностика и терапия.",
            "provider": {
              "@type": "Organization",
              "name": "Детский центр &laquo;СТАРТ&raquo;",
              "sameAs": "https://abakusstart.ru"
           }
          }
        },
        {
          "@type": "ListItem",
          "position": 4,
          "item": {
            "@type": "Course",
            "url":"https://abakusstart.ru/angliyskiy-yazyk-dlya-detey.php",
            "name": "Английский язык",
            "description": "Английский язык для младших школьников в онлайн формате. Обучение в игре.",
            "provider": {
              "@type": "Organization",
              "name": "Детский центр &laquo;СТАРТ&raquo;",
              "sameAs": "https://abakusstart.ru"
           }
         }
        },
        {
          "@type": "ListItem",
          "position": 5,
          "item": {
            "@type": "Course",
            "url":"https://abakusstart.ru/nejropsiholog.php",
            "name": "Нейропсихолог",
            "description": "Нарушения в развитии ребенка. Диагностика, индивидульные и групповые занятия.",
            "provider": {
              "@type": "Organization",
              "name": "Детский центр &laquo;СТАРТ&raquo;",
              "sameAs": "https://abakusstart.ru"
           }
         }
        },
        {
          "@type": "ListItem",
          "position": 6,
          "item": {
            "@type": "Course",
            "url":"https://abakusstart.ru/psihoterapevt.php",
            "name": "Психотерапевт",
            "description": "Диагностика ментальных расстройств от 15+. Когнитивно-поведенческая терапия.",
            "provider": {
              "@type": "Organization",
              "name": "Детский центр &laquo;СТАРТ&raquo;",
              "sameAs": "https://abakusstart.ru"
           }
         }
        },
        {
          "@type": "ListItem",
          "position": 7,
          "item": {
            "@type": "Course",
            "url":"https://abakusstart.ru/kalligrafiya.php",
            "name": "Каллиграфия",
            "description": "Тренирует руку, развивает мелкую моторику, учит правильной технике письма.",
            "provider": {
              "@type": "Organization",
              "name": "Детский центр &laquo;СТАРТ&raquo;",
              "sameAs": "https://abakusstart.ru"
           }
         }
        }
      ]
    }
    </script>
