<!-- product разметка -->
<script type="application/ld+json">
    {
            "@context": "https://schema.org/",
            "@type": "Product",
            "name": "@name",
            "image": [
                "@image.one",
                "@image.two"
            ],
            "description": "@description",
            "url": "@url",
            "mpn": " ",
            "sku": " ",
            "brand": {
              "@type": "Brand",
                "name": "Детский центр &laquo;СТАРТ&raquo; в Красноярске"
            },
            "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": "4,9",
                "reviewCount": "5"
            },
            "offers": {
                "@type": "Offer",
                "priceCurrency": "RUB",
                "price": "@price",
                "priceValidUntil": "2024-02-27",
                "url": "@url",
                "itemCondition": "http://schema.org/UsedCondition",
                "availability": "http://schema.org/InStock",
                "seller": {
                    "@type": "Organization",
                    "name": "Детский центр &laquo;СТАРТ&raquo;"
                }
            },
    
            "review": [
              {
                  "@type": "Review",
                  "author": {
                      "@type": "Person",
                      "name": "Алиса Воробьева"
                    },
                  "datePublished": "2023-05-06",
                  "description": "Ходили с сыном в «Старт» на ментальную арифметику с 5-ти лет, сын знал цифры, но до 30-ти. Примерно за 2-3 месяца освоил быстрый счет до 10-ти на сложение и вычитание. На занятиях нравилось то, что внимание ещё уделяли правильному написанию цифр, а на переменах играли в логические настольные игры, разгадывали ребусы или лабиринты — каждый раз что-то новое. В итоге ребенок к школе был подготовлен основательно, нет страха пред цифрами и заданиями на счет. Спасибо педагогу, ходили с удовольствием.",
                  "reviewRating": {
                      "@type": "Rating",
                      "bestRating": "5",
                      "ratingValue": "5",
                      "worstRating": "1"
                  }
              },
              {
                  "@type": "Review",
                  "author": {
                      "@type": "Person",
                      "name": "Карина Ларионова"
                    },
                  "datePublished": "2023-04-14",
                  "description": "Ходили с 5-ти на занятия по ментальной арифметике до школы в «СТАРТ», ребенок реально начал быстро считать, выучил счет до 100, стал более усидчивый (были небольшие проблемы с этим), но когда пошли в школу, не получилось продолжить занятия — переехали в другой район. Когда пропускаешь занятия по каким-то причинам, мало вариантов по времени для отработки. Ребенок в школе, больше всего любит математику.",
                  "reviewRating": {
                      "@type": "Rating",
                      "bestRating": "5",
                      "ratingValue": "5",
                      "worstRating": "1"
                  }
              },
              {
                  "@type": "Review",
                  "author": {
                      "@type": "Person",
                      "name": "Андрей Викулов"
                    },
                  "datePublished": "2023-04-17",
                  "description": "Занимались в прошлом году ментальной арифметикой в ДЦ «СТАРТ», была группа из 3 детей, но в середине года, дети начали болеть, то по двое, то по очереди. После Нового года одни бросили, другим надоело, дочь занималась одна, ей нравилось, но пропал «дух соревнований», когда была команда, каждый хотел быть лучшим и это держало детей в тонусе. Проблема с парковкой, не всегда был администратор, но горячие напитки, родителям всегда предлагали. Занятие проходило, даже если был 1 ребенок и стоимость была всегда, как за групповое (даже когда дочь осталась одна, сказали, что это не наша вина).",
                  "reviewRating": {
                      "@type": "Rating",
                      "bestRating": "5",
                      "ratingValue": "5",
                      "worstRating": "1"
                  }
              },
              {
                  "@type": "Review",
                  "author": {
                      "@type": "Person",
                      "name": "Софья Перцева"
                    },
                  "datePublished": "2023-03-27",
                  "description": "С племянником ходим на ментальную арифметику — Антону 7 лет. Преподаватель внимательный к детям, часто устраивает переменки в игровой форме для них. У Антона есть мотивация — он хочет поехать на соревнования в Москву по ментальной арифметике. Нравится адекватная цена за занятия. И главное преимущество — очень здорово, что этот центр находится в Северном рядом с домом.",
                  "reviewRating": {
                      "@type": "Rating",
                      "bestRating": "5",
                      "ratingValue": "5",
                      "worstRating": "1"
                  }
              },
              {
                  "@type": "Review",
                  "author": {
                      "@type": "Person",
                      "name": "Павел Жабинский"
                    },
                  "datePublished": "2023-05-09",
                  "description": "Руслан 6 лет. Ходили в «СТАРТ» с 5-ти лет на ментальную арифметику, сын знал только цифры до 10 и как называются, но писал сам не все цифры и плохо. На первом уроке сказали, что этого достаточно. Очень удивительно, но быстрый счет освоил довольно скоро, примерно через 2,5 месяца. Маленький выбор времени для занятий. Ещё порадовало — были задания на укрепление руки — ребенок научился писать все цифры довольно хорошо и с усидчивостью стало гораздо лучше.",
                  "reviewRating": {
                      "@type": "Rating",
                      "bestRating": "5",
                      "ratingValue": "4",
                      "worstRating": "1"
                  }
              }
          ]
      }
  
    
  </script>