<!-- Сводная оценка разметка -->
<script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "AggregateRating",
      "itemReviewed": {
        "@type": "LocalBusiness",
        "image": "https://abakusstart.ru/img/logo-abakusstart-desktop.svg",
        "name": "Детский центр в Красноярске в Северном | &laquo;СТАРТ&raquo;.",
        "priceRange": "500-2000RUB",
        "telephone": "8 (908) 010-48-54",
        "address" : {
          "@type": "PostalAddress",
          "streetAddress": "ул. Мате Залки, 11",
          "addressLocality": "Красноярск, Советский район",
          "addressRegion": "Красноярский край",
          "postalCode": "660118",
          "addressCountry": "RU"
        }
      },
      "ratingValue": "@ratingValue",
      "bestRating": "@bestRating",
      "ratingCount": "@ratingCount"
    }
  </script>