<!-- хлебные крошки  их править с  Андреем - папка uslugi и в ней менталка уже-->

<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement":
      [
        {"@type": "ListItem",
        "position": 1,
        "item":
          {"@id": "https://abakusstart.ru/",
          "name": "ГЛАВНАЯ"}
        },
        {"@type": "ListItem",
        "position": 2,
        "item":
          {"@id": "@idValue",
          "name": "@name"}
        }
      ]
    }
  </script>