<!-- article разметка -->

<script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Article",
      "headline": "@headline",
      "image": "@image",
      "description": "@description",
      "author": "Ксения Шевченко",
      "publisher": {
        "@type": "Organization",
        "name": "abakusstart.ru",
        "url": "https://abakusstart.ru",
        "logo": {
          "@type": "ImageObject",
          "url": "https://abakusstart.ru/img/logo-abakusstart-desktop.svg"
        }
      },
      "datePublished": "@datepublished",
      "dateModified": " ",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "@@id"
      }
    }
  </script>
  