<!-- модальное окно - форма данных для telegram НАЧАЛО-->
<div class="__modal__overlay">
  <section class="modal modal__window">
  <h2 class="visually-hidden">&laquo;СТАРТ &raquo; в Красноярске | Записаться на бесплатное занятие</h2>
  <h3 class="modal__title">Контактные данные</h3>
    <p class="modal__description">Введите, пожалуйста, свое имя и телефон</p>
    <form class="modal__form" action="/telegram/send.php" method="post">
      <p>
        <label class="visually-hidden" for="user-name"><span class="visually-hidden">Пожалуйста, введите
          ваше</span>Имя<sup>*</sup>:</label>
        <input class="modal__icon-user" id="user-name" type="text" name="name" pattern="^[а-яА-ЯёЁa-zA-Z]+$" placeholder="Имя" required>
      </p>
      <p>
        <label class="visually-hidden" for="user-tel"><span class="visually-hidden">Пожалуйста, введите ваш</span>Контактный </span>телефон<sup>*</sup>:</label>
        <input class="modal__icon-tel phone__mask" id="user-tel" type="tel" name="phone" placeholder="7(___)___-__-__" required>
      </p>
      <p class="modal__help">
        <label class="modal__checkbox">
          <span class="visually-hidden">Я согласен с политикой конфиденциальности</span>
          <input type="checkbox" name="check" class="visually-hidden" required checked>
          <span class="checkbox-indicator"></span>
          <a class="modal__checkbox-text" href="/info.php" target="_blank" rel="noopener" title="Политика конфидециальности центра" arial-label="Перейти к политике конфидециальности центра">
            Согласен с политикой конфиденциальности
          </a>
        </label>
        <span class="modal__checkbox-reсall">Мы перезвоним!</span>
      </p>
      <input type="hidden" name="act" value="order">
      <button class="button modal__button" type="submit" disabled>Отправить
        <span class="visually-hidden">Кнопка отправки контактных данных в telegram chat детского центра развития &laquo;СТАРТ&raquo; в Красноярске, в микр-н Северный.</span>
      </button>
    </form>
    <button class="modal-close" type="button">Закрыть</button>
  </section>
</div>
  <!-- модальное окно - форма данных для  КОНЕЦ -->
