<section class="post-social">
  <div class="post-social__wrapper">
    <h2 class="visually-hidden"> Поделиться в социальных сетях сайт развивающего детского центра &laquo;СТАРТ&raquo; в Красноярске, в Советском районе.</h2>
      <h3 class="post-social__title">Поделиться
        <svg  aria-hidden="true" width="16" height="16">
          <use xlink:href="img/sprite.svg#sp-share_abakusstart"></use>
        </svg>
      </h3>
          <ul class="post-social__list" role="list">
              <li class="post-social__item post-social__item--vk">
                  <a class="post-social__button" href="https://vk.com/share.php?url==https://abakusstart.ru/@url" target="_blank" rel="nofollow">Вконтакте
                      <span class="visually-hidden">Поделиться в vk сайтом развивающего детского центра &laquo;СТАРТ&raquo; в Красноярске.</span>
                      <svg  aria-hidden="true" width="20" height="20">
                        <use xlink:href="img/sprite.svg#sp-icon-vk"></use>
                      </svg>
                  </a>
              </li>
              <li class="post-social__item post-social__item--fb">
                      <a class="post-social__button" href="https://www.facebook.com/sharer.php?u=https://abakusstart.ru/@url" target="_blank" rel="nofollow">Фейсбук
                          <span class="visually-hidden">Поделиться в facebook сайтом развивающего детского центра &laquo;СТАРТ&raquo; в Красноярске, в Советском районе.</span>
                          <svg  aria-hidden="true" width="20" height="20">
                            <use xlink:href="img/sprite.svg#sp-icon-facebook"></use>
                          </svg>
                      </a>
              </li>
              <li class="post-social__item post-social__item--tw">
                      <a class="post-social__button" href="https://twitter.com/intent/tweet?=https://abakusstart.ru/@url" target="_blank" rel="nofollow">Твитер
                          <span class="visually-hidden">Поделиться в twitter сайтом детского центра развития &laquo;СТАРТ&raquo; в Красноярске, в Советском районе.</span>
                          <svg  aria-hidden="true" width="20" height="20">
                              <use xlink:href="img/sprite.svg#sp-icon-twitter"></use>
                          </svg>
                      </a>
              </li>
              <li class="post-social__item post-social__item--tel">
                      <a class="post-social__button" href="https://telegram.me/share/url?url=https://abakusstart.ru/@url" target="_blank" rel="nofollow">Телеграм
                          <span class="visually-hidden">Поделиться в telegram сайтом детского центра развития &laquo;СТАРТ&raquo; в Красноярске, в Советском районе.</span>
                          <svg  aria-hidden="true" width="20" height="20">
                              <use xlink:href="img/sprite.svg#sp-icon-telegram"></use>
                          </svg>
                      </a>
              </li>
              <li class="post-social__item post-social__item--od">
                      <a class="post-social__button" href="https://connect.ok.ru/dk?st.cmd=WidgetSharePreview&st.shareUrl=https://abakusstart.ru/@url" target="_blank" rel="nofollow">Одноклассники
                          <span class="visually-hidden">Поделиться в ok сайтом детского центра развития &laquo;СТАРТ&raquo; в Красноярске, в Советском районе.</span>
                          <svg  aria-hidden="true" width="20" height="20">
                          <use xlink:href="img/sprite.svg#sp-icon-ok"></use>
                          </svg>
                      </a>
              </li>
              <li class="post-social__item post-social__item--pin">
                      <a class="post-social__button" href="https://ru.pinterest.com/pin/create/button/?url=https://abakusstart.ru/@url" target="_blank" rel="nofollow">Pinterest
                          <span class="visually-hidden">Поделиться в pinterest сайтом детского центра развития &laquo;СТАРТ&raquo; в Красноярске, в Советском районе.</span>
                          <svg  aria-hidden="true" width="20" height="20">
                          <use xlink:href="img/sprite.svg#sp-icon-pin"></use>
                          </svg>
                      </a>
              </li>
          </ul>

  </div>
</section>
