<!-- product разметка -->

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "ItemList",
      "url": "https://abakusstart.ru/uslugi.php",
      "numberOfItems": "8",
      "itemListElement": [
        {
            "position": 1,
            "@type": "Product",
            "name": "МЕНТАЛЬНАЯ АРИФМЕТИКА",
            "image": [
              "https://abakusstart.ru/img/photo-mental-desktop@1x.webp"
             ],
            "description": "Ментальная арифметика на платформе Абакус, занятия в группе и индивидуально.",
            "brand": {
              "@type": "Brand",
              "name": "Детский центр &laquo;СТАРТ&raquo; в Красноярске"
            },
            "offers": {
              "@type": "Offer",
              "price": "900",
              "priceCurrency": "RUB",
              "priceValidUntil": "2024-02-27",
              "availability": "http://schema.org/InStock"
            },
            "aggregateRating": {
              "@type": "AggregateRating",
              "ratingValue": "4,9",
              "reviewCount": "5"
            },
            "url": "https://abakusstart.ru/uslugi.php"
    },
    
    
    {
      "position": 2,
      "@type": "Product",
      "name": "РОБОТОТЕХНИКА",
      "image": [
        "https://abakusstart.ru/img/photo-robot-desktop@1x.webp"
       ],
      "description": "На различных конструкторах, в том числе на Lego WeDo 2.0, Lego Technic, Lego Mindstorm.",
      "brand": {
        "@type": "Brand",
        "name": "Детский центр &laquo;СТАРТ&raquo; в Красноярске"
      },
      "offers": {
        "@type": "Offer",
        "price": "500",
        "priceCurrency": "RUB",
        "priceValidUntil": "2024-02-27",
        "availability": "http://schema.org/InStock"
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "5",
        "reviewCount": "6"
      },
      "url": "https://abakusstart.ru/uslugi.php"
    },
    
    {
      "position": 3,
      "@type": "Product",
      "name": "РЕПЕТИТОР 1-4 КЛАССОВ",
      "image": [
        "https://abakusstart.ru/img/photo-repetitor-desktop@1x.webp"
       ],
      "description": "Домашние задания, школьная программа в начальных классах, помощь в подготовке к ВПР.",
      "brand": {
        "@type": "Brand",
        "name": "Детский центр &laquo;СТАРТ&raquo; в Красноярске"
      },
      "offers": {
        "@type": "Offer",
        "price": "600",
        "priceCurrency": "RUB",
        "priceValidUntil": "2024-02-27",
        "availability": "http://schema.org/InStock"
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4,8",
        "reviewCount": "5"
      },
      "url": "https://abakusstart.ru/uslugi.php"
    },
    
    {
      "position": 4,
      "@type": "Product",
      "name": "ЛОГОПЕД-ДЕФЕКТОЛОГ",
      "image": [
        "https://abakusstart.ru/img/photo-logoped-desktop@1x.webp"
       ],
      "description": "Исправление комплекса речевых проблем у детей: ранняя диагностика и терапия.",
      "brand": {
        "@type": "Brand",
        "name": "Детский центр &laquo;СТАРТ&raquo; в Красноярске"
      },
      "offers": {
        "@type": "Offer",
        "price": "850",
        "priceCurrency": "RUB",
        "priceValidUntil": "2024-02-27",
        "availability": "http://schema.org/InStock"
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "5,0",
        "reviewCount": "4"
      },
      "url": "https://abakusstart.ru/uslugi.php"
    },
    
    {
      "position": 5,
      "@type": "Product",
      "name": "АНГЛИЙСКИЙ ЯЗЫК",
      "image": [
        "https://abakusstart.ru/img/photo-english-desktop@1x.webp"
       ],
      "description": "Английский язык для младших школьников в онлайн формате. Обучение в игре.",
      "brand": {
        "@type": "Brand",
        "name": "Детский центр &laquo;СТАРТ&raquo; в Красноярске"
      },
      "offers": {
        "@type": "Offer",
        "price": "600",
        "priceCurrency": "RUB",
        "priceValidUntil": "2024-02-27",
        "availability": "http://schema.org/InStock"
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4,8",
        "reviewCount": "3"
      },
      "url": "https://abakusstart.ru/uslugi.php"
    },
    
    {
      "position": 6,
      "@type": "Product",
      "name": "НЕЙРОПСИХОЛОГ",
      "image": [
        "https://abakusstart.ru/img/photo-neuropsychologist-desktop@1x.webp"
       ],
      "description": "Нарушения в развитии ребенка. Диагностика, индивидульные и групповые занятия.",
      "brand": {
        "@type": "Brand",
        "name": "Детский центр &laquo;СТАРТ&raquo; в Красноярске"
      },
      "offers": {
        "@type": "Offer",
        "price": "990",
        "priceCurrency": "RUB",
        "priceValidUntil": "2024-02-27",
        "availability": "http://schema.org/InStock"
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4,9",
        "reviewCount": "3"
      },
      "url": "https://abakusstart.ru/uslugi.php"
    },
    
    {
      "position": 7,
      "@type": "Product",
      "name": "ПСИХОТЕРАПЕВТ",
      "image": [
        "https://abakusstart.ru/img/photo-psychotherapist-desktop@1x.webp"
       ],
      "description": "Диагностика ментальных расстройств от 15+. Когнитивно-поведенческая терапия.",
      "brand": {
        "@type": "Brand",
        "name": "Детский центр &laquo;СТАРТ&raquo; в Красноярске"
      },
      "offers": {
        "@type": "Offer",
        "price": "1800",
        "priceCurrency": "RUB",
        "priceValidUntil": "2024-02-27",
        "availability": "http://schema.org/InStock"
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4,9",
        "reviewCount": "2"
      },
      "url": "https://abakusstart.ru/uslugi.php"
    },
    
    
    {
      "position": 8,
      "@type": "Product",
      "name": "КАЛЛИГРАФИЯ",
      "image": [
        "https://abakusstart.ru/img/photo-calligraphy-desktop@1x.webp"
       ],
      "description": "Тренирует руку, развивает мелкую моторику, учит правильной технике письма.",
      "brand": {
        "@type": "Brand",
        "name": "Детский центр &laquo;СТАРТ&raquo; в Красноярске"
      },
      "offers": {
        "@type": "Offer",
        "price": "500",
        "priceCurrency": "RUB",
        "priceValidUntil": "2024-02-27",
        "availability": "http://schema.org/InStock"
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4,9",
        "reviewCount": "5"
      },
      "url": "https://abakusstart.ru/uslugi.php"
    }
    
      ]
    }
  </script>