<section class="banner">
  <h2 class="visually-hidden">Вводная секция с баннером о занятиях в детском центре &laquo;СТАРТ&raquo;.</h2>
  <div class="banner__image banner__image--photo">
    <img src="img/text-abakusstart-index_not.svg" alt="Детский центр развития &laquo;СТАРТ&raquo; в Красноярске,
    в Северном." width="229" height="138">
    <!-- <img src="img/text-sedona.svg" alt="Welcome Sedona" width="229" height="39"> -->
  </div>

  <div class="banner__wrapper">
    <p class="banner__slogan">Программа занятий в центре</p>
    <p class="banner__intro banner__intro--photo">Сомневаетесь какие занятия подходят для развития вашего ребенка?
      Краткий обзор познакомит с&nbsp;нашими курсами и&nbsp;поможет вам с&nbsp;проблемой выбора.</p>
  </div>
</section>
