<li class="card-list-container__item">
  <article class="card-item">
    <a href="info.php" class="card-item__chevron card-item__chevron--new">Новое направление</a>
    <span class="visually-hidden">Логопед-дефектолог для детей в детском центре &laquo;СТАРТ&raquo; | стоимость занятий</span>
    <a href="info.php" class="card-item__link">
      <picture>
        <source type="image/webp" media="(min-width: 1200px)"
          srcset="img/photo-logoped-desktop@1x.webp 1x, img/photo-logoped-desktop@2x.webp 2x">
        <source type="image/webp" media="(min-width: 768px)"
          srcset="img/photo-logoped-tablet@1x.webp 1x, img/photo-logoped-tablet@2x.webp 2x">
        <source type="image/webp"
          srcset="img/photo-logoped-mobile@1x.webp 1x, img/photo-logoped-mobile@2x.webp 2x">

        <source media="(min-width: 1200px)"
          srcset="img/photo-logoped-desktop@1x.jpg 1x, img/photo-logoped-desktop@2x.jpg 2x">
        <source media="(min-width: 768px)"
          srcset="img/photo-logoped-tablet@1x.jpg 1x, img/photo-logoped-tablet@2x.jpg 2x">
        <img class="card-item__img" src="img/photo-logoped-mobile@1x.jpg"
          srcset="img/photo-logoped-mobile@1x.jpg 1x, img/photo-logoped-mobile@2x.jpg 2x"
          alt="Логопед-дефектолог" aria-labelledby="title_4">
      </picture>
    </a>
    <p class="card-item__division">Для детей с раннего возраста</p>
    <h2 class="card-item__title" id="title_4">
      <a class="card-item__title-link" href="info.php">Логопед-дефектолог</a>
    </h2>
    <div class="card-item__info">
      <p class="card-item__availability card-item__availability--yes">Набор открыт</p>
      <p class="card-item__rating">5.0</p>
      <a class="card-item__link-to-reviews link" href="info.php">4 отзыва</a>
    </div>
    <p class="card-item__description">Исправление комплекса <a class="card-item__text-link link" target="_blank" rel="noopener" title="Речевые проблемы" arial-label="Перейти к статье  с определением: что такое речевые проблемы." href="https://ru.wikipedia.org/wiki/%D0%9B%D0%BE%D0%B3%D0%BE%D0%BF%D0%B5%D0%B4%D0%B8%D1%8F">речевых проблем</a> у&nbsp;детей: ранняя диагностика и&nbsp;терапия.</p>

    <dl class="card-item__price-list">
      <dt>Цена:</dt>
      <dd>от 850  &#8381;</dd>
    </dl>
    <!-- блок выгода логопед начало -->
    <span class="card-item__parameter-list card-item__parameter-list--logoped">
      <svg class="card-item__parameter-item" fill="#d90d58" width="47" height="40">
        <use xlink:href="#sp-logoped_uslugi_icon"></use>
      </svg>
      Общаюсь, разрабатываю артикуляцию и дикцию.
    </span>
    <!-- блок выгода конец -->
    <div class="card-item__button-block">
      <button class="button card-info__button modal-open" type="button" data-name="logopedist">Записаться на занятия
        <span class="visually-hidden">Записаться на занятия к Логопеду-дефектологу.</span>
      </button>
      <a class="button card-info__button card-info__button--border" href="info.php">
        <span><svg class="card-info__button-svg" width="20" height="20" fill="#03f">
          <use xlink:href="#sp-icon-arrow_btn"></use></svg></span>
        Подробнее о <span>занятиях</span> <span class="visually-hidden">Подробнее про занятия.</span>
      </a>
    </div>
  </article>
</li>
