<li class="card-list-container__item">
  <article class="card-item">
      <!-- <p class="card-item__chevron card-item__chevron--hit">Очень востребована</p> -->

      <a href="info.php" class="card-item__chevron card-item__chevron--hit">Очень востребована</a>

    <span class="visually-hidden">Ментальная арифметика в детском центре &laquo;СТАРТ&raquo; | стоимость занятий</span>
    <a href="info.php" class="card-item__link">
      <picture>
        <source type="image/webp" media="(min-width: 1200px)"
          srcset="img/photo-mental-desktop@1x.webp 1x, img/photo-mental-desktop@2x.webp 2x">
        <source type="image/webp" media="(min-width: 768px)"
          srcset="img/photo-mental-tablet@1x.webp 1x, img/photo-mental-tablet@2x.webp 2x">
        <source type="image/webp"
          srcset="img/photo-mental-mobile@1x.webp 1x, img/photo-mental-mobile@2x.webp 2x">

        <source media="(min-width: 1200px)"
          srcset="img/photo-mental-desktop@1x.jpg 1x, img/photo-mental-desktop@2x.jpg 2x">
        <source media="(min-width: 768px)"
          srcset="img/photo-mental-tablet@1x.jpg 1x, img/photo-mental-tablet@2x.jpg 2x">
        <img class="card-item__img" src="img/photo-mental-mobile@1x.jpg"
          srcset="img/photo-mental-mobile@1x.jpg 1x, img/photo-mental-mobile@2x.jpg 2x"
          alt="Ментальная арифметика" aria-labelledby="title_1">
      </picture>
    </a>
    <p class="card-item__division">для детей от 4.5 лет</p>
    <h2 class="card-item__title" id="title_1">
      <a class="card-item__title-link" href="/mentalnaya-arifmetika.php">Ментальная арифметика</a>
    </h2>
    <!-- <a href="info.php"> <h3 class="card-item__title" id="title_1">Ментальная арифметика</h3></a> -->
    <div class="card-item__info">
      <p class="card-item__availability card-item__availability--yes">Набор открыт</p>
      <p class="card-item__rating">4.9</p>
      <a class="card-item__link-to-reviews link" href="/mentalnaya-arifmetika.php#reviews">5 отзывов</a>
    </div>
    <p class="card-item__description">Ментальная арифметика на&nbsp;платформе <a class="card-item__text-link link" target="_blank"  rel="noopener" title="Абакус" arial-label="Перейти к статье про Абакус." href="https://ru.wikipedia.org/wiki/%D0%90%D0%B1%D0%B0%D0%BA%D1%83%D1%81">Абакус</a>, занятия в&nbsp;группе и&nbsp;индивидуально.</p>
    <dl class="card-item__price-list">
      <dt>Цена:</dt>
      <dd>от 900 &#8381;/час</dd>
    </dl>

    <!-- блок выгода менталка начало -->
    <span class="card-item__parameter-list card-item__parameter-list--abacus">
      <svg class="card-item__parameter-item" fill="#4b7324" width="47" height="40">
        <use xlink:href="#sp-abacus_uslugi_icon"></use>
      </svg>
      Считаю быстро, развиваю память, люблю математику.
      <!-- Воображение, память, аналитическое мышление -->
    </span>
    <!-- блок выгода конец -->


    <div class="card-item__button-block">
      <button class="button card-info__button modal-open" type="button" data-name="mental">Записаться на занятия
        <span class="visually-hidden">Записаться на занятия по ментальной арифметике.</span>
      </button>
      <a class="button card-info__button card-info__button--border" href="/mentalnaya-arifmetika.php">
        <!-- <a class="button card-info__button card-info__button--border" href="/mental_abacus.php#qqq"> -->
        <span><svg class="card-info__button-svg" width="20" height="20" fill="#03f">
          <use xlink:href="#sp-icon-arrow_btn"></use></svg></span>
        Подробнее о <span>занятиях</span> <span class="visually-hidden">Подробнее про занятия.</span>
      </a>
    </div>
  </article>
</li>
