<li class="card-list-container__item">
  <article class="card-item">
    <a href="info.php" class="card-item__chevron card-item__chevron--new">Новое направление</a>
    <span class="visually-hidden">Психотерапевт для детей в детском центре &laquo;СТАРТ&raquo; | стоимость занятий</span>
    <a href="info.php" class="card-item__link">
      <picture>
        <source type="image/webp" media="(min-width: 1200px)"
          srcset="img/photo-psychotherapist-desktop@1x.webp 1x, img/photo-psychotherapist-desktop@2x.webp 2x">
        <source type="image/webp" media="(min-width: 768px)"
          srcset="img/photo-psychotherapist-tablet@1x.webp 1x, img/photo-psychotherapist-tablet@2x.webp 2x">
        <source type="image/webp"
          srcset="img/photo-psychotherapist-mobile@1x.webp 1x, img/photo-psychotherapist-mobile@2x.webp 2x">

        <source media="(min-width: 1200px)"
          srcset="img/photo-psychotherapist-desktop@1x.jpg 1x, img/photo-psychotherapist-desktop@2x.jpg 2x">
        <source media="(min-width: 768px)"
          srcset="img/photo-psychotherapist-tablet@1x.jpg 1x, img/photo-psychotherapist-tablet@2x.jpg 2x">
        <img class="card-item__img" src="img/photo-psychotherapist-mobile@1x.jpg"
          srcset="img/photo-psychotherapist-mobile@1x.jpg 1x, img/photo-psychotherapist-mobile@2x.jpg 2x"
          alt="Психотерапевт для детей" aria-labelledby="title_7">
      </picture>
    </a>
    <p class="card-item__division">для подростков от 15+</p>
    <h2 class="card-item__title" id="title_7">
      <a class="card-item__title-link" href="info.php">Психотерапевт</a>
    </h2>
    <div class="card-item__info">
      <p class="card-item__availability card-item__availability--yes">Набор открыт</p>
      <p class="card-item__rating">4.9</p>
      <a class="card-item__link-to-reviews link" href="info.php">2 отзыва</a>
    </div>
    <p class="card-item__description">Диагностика ментальных расстройств от&nbsp;15+. <a class="card-item__text-link link"
      target="_blank" rel="noopener" title="Когнитивно-поведенческая терапия" arial-label="Перейти к статье  с определением: что такое когнитивно-поведенческая терапия." href="https://ru.wikipedia.org/wiki/%D0%9A%D0%BE%D0%B3%D0%BD%D0%B8%D1%82%D0%B8%D0%B2%D0%BD%D0%BE-%D0%BF%D0%BE%D0%B2%D0%B5%D0%B4%D0%B5%D0%BD%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F_%D0%BF%D1%81%D0%B8%D1%85%D0%BE%D1%82%D0%B5%D1%80%D0%B0%D0%BF%D0%B8%D1%8F">
      Когнитивно-поведенческая терапия.
      </a>
    </p>


    <dl class="card-item__price-list">
      <dt>Цена:</dt>
      <dd>от 1800  &#8381;</dd>
    </dl>
    <!-- блок выгода психотерапевт начало -->
    <span class="card-item__parameter-list card-item__parameter-list--psiho">
      <svg class="card-item__parameter-item" fill="#0b9ed9" width="47" height="40">
        <use xlink:href="#sp-psiho_uslugi_icon"></use>
      </svg>
      Будущий руководитель – уверен в себе, решителен.
    </span>
    <!-- блок выгода конец -->
    <div class="card-item__button-block">
      <button class="button card-info__button modal-open" type="button" data-name="psychotherapist">Записаться на занятия
        <span class="visually-hidden">Записать подростка на консультацию к психотерапевту.</span>
      </button>
      <a class="button card-info__button card-info__button--border" href="info.php">
        <span><svg class="card-info__button-svg" width="20" height="20" fill="#03f">
          <use xlink:href="#sp-icon-arrow_btn"></use></svg></span>
        Подробнее о <span>занятиях</span> <span class="visually-hidden">Подробнее про занятия.</span>
      </a>
    </div>
  </article>
</li>
