<li class="card-list-container__item">
  <article class="card-item">
    <a href="info.php" class="card-item__chevron card-item__chevron--hit">Очень востребована</a>
    <span class="visually-hidden">Каллиграфия для детей в детском центре &laquo;СТАРТ&raquo; | стоимость занятий</span>
    <a href="info.php" class="card-item__link">
      <picture>
        <source type="image/webp" media="(min-width: 1200px)"
          srcset="img/photo-calligraphy-desktop@1x.webp 1x, img/photo-calligraphy-desktop@2x.webp 2x">
        <source type="image/webp" media="(min-width: 768px)"
          srcset="img/photo-calligraphy-tablet@1x.webp 1x, img/photo-calligraphy-tablet@2x.webp 2x">
        <source type="image/webp"
          srcset="img/photo-calligraphy-mobile@1x.webp 1x, img/photo-calligraphy-mobile@2x.webp 2x">

        <source media="(min-width: 1200px)"
          srcset="img/photo-calligraphy-desktop@1x.jpg 1x, img/photo-calligraphy-desktop@2x.jpg 2x">
        <source media="(min-width: 768px)"
          srcset="img/photo-calligraphy-tablet@1x.jpg 1x, img/photo-calligraphy-tablet@2x.jpg 2x">
        <img class="card-item__img" src="img/photo-calligraphy-mobile@1x.jpg"
          srcset="img/photo-calligraphy-mobile@1x.jpg 1x, img/photo-calligraphy-mobile@2x.jpg 2x"
          alt="Каллиграфия дети" aria-labelledby="title_8">
      </picture>
    </a>
    <p class="card-item__division">для детей от 5 лет</p>
    <h2 class="card-item__title" id="title_8">
      <a class="card-item__title-link" href="info.php">Каллиграфия</a>
    </h2>
    <div class="card-item__info">
      <p class="card-item__availability card-item__availability--yes">Набор открыт</p>
      <p class="card-item__rating">4.9</p>
      <a class="card-item__link-to-reviews link" href="info.php">5 отзывов</a>
    </div>
    <p class="card-item__description">Тренирует руку, <a class="card-item__text-link link"  target="_blank" rel="noopener" title="Мелкая моторика" arial-label="Перейти к статье  с определением: что такое мелкая моторика." href="https://ru.wikinews.org/wiki/%D0%A7%D1%82%D0%BE_%D0%BD%D0%B0%D0%BF%D0%B8%D1%81%D0%B0%D0%BD%D0%BE_%D0%BF%D0%B5%D1%80%D0%BE%D0%BC:_%D0%B3%D0%B4%D0%B5_%D0%B2_%D0%9F%D0%BE%D0%B4%D0%BC%D0%BE%D1%81%D0%BA%D0%BE%D0%B2%D1%8C%D0%B5_%D1%83%D1%87%D0%B0%D1%82_%D0%BA%D0%B0%D0%BB%D0%BB%D0%B8%D0%B3%D1%80%D0%B0%D1%84%D0%B8%D0%B8_%D0%B8_%D1%87%D0%B5%D0%BC_%D1%8D%D1%82%D0%BE_%D0%BF%D0%BE%D0%BB%D0%B5%D0%B7%D0%BD%D0%BE_%D0%B4%D0%BB%D1%8F_%D1%81%D0%BE%D0%B2%D1%80%D0%B5%D0%BC%D0%B5%D0%BD%D0%BD%D1%8B%D1%85_%D0%B4%D0%B5%D1%82%D0%B5%D0%B9">развивает мелкую моторику</a>, учит правильной технике письма.</p>

    <dl class="card-item__price-list">
      <dt>Цена:</dt>
      <dd>от 500  &#8381;/час</dd>
    </dl>
    <!-- блок выгода каллиграфия начало -->
    <span class="card-item__parameter-list card-item__parameter-list--calligraphiya">
      <svg class="card-item__parameter-item" fill="#e02b40" width="47" height="40">
        <use xlink:href="#sp-calligraphiya_uslugi_icon"></use>
      </svg>
       Пишу красиво и грамотно. Нравится учиться.
    </span>
    <!-- блок выгода конец -->
    <div class="card-item__button-block">
      <button class="button card-info__button modal-open" type="button" data-name="calligraphy">Записаться на занятия
        <span class="visually-hidden">Записать ребенка на занятия по каллиграфии.</span>
      </button>
      <a class="button card-info__button card-info__button--border" href="info.php">
        <span><svg class="card-info__button-svg" width="20" height="20" fill="#03f">
          <use xlink:href="#sp-icon-arrow_btn"></use></svg></span>
        Подробнее о <span>занятиях</span> <span class="visually-hidden">Подробнее про занятия.</span>
      </a>
    </div>
  </article>
</li>
