<li class="card-list-container__item">
  <article class="card-item">
    <!-- <p class="card-item__chevron card-item__chevron--new">Новая коллекция</p> -->
    <span class="visually-hidden">Английский язык для детей в детском центре &laquo;СТАРТ&raquo; | стоимость занятий</span>
    <a href="info.php" class="card-item__link">
      <picture>
        <source type="image/webp" media="(min-width: 1200px)"
          srcset="img/photo-english-desktop@1x.webp 1x, img/photo-english-desktop@2x.webp 2x">
        <source type="image/webp" media="(min-width: 768px)"
          srcset="img/photo-english-tablet@1x.webp 1x, img/photo-english-tablet@2x.webp 2x">
        <source type="image/webp"
          srcset="img/photo-english-mobile@1x.webp 1x, img/photo-english-mobile@2x.webp 2x">

        <source media="(min-width: 1200px)"
          srcset="img/photo-english-desktop@1x.jpg 1x, img/photo-english-desktop@2x.jpg 2x">
        <source media="(min-width: 768px)"
          srcset="img/photo-english-tablet@1x.jpg 1x, img/photo-english-tablet@2x.jpg 2x">
        <img class="card-item__img" src="img/photo-english-mobile@1x.jpg"
          srcset="img/photo-english-mobile@1x.jpg 1x, img/photo-english-mobile@2x.jpg 2x"
          alt="Английский язык для детей" aria-labelledby="title_5">
      </picture>
    </a>
    <p class="card-item__division">Для детей от 5 лет</p>
    <h2 class="card-item__title" id="title_5">
      <a class="card-item__title-link" href="info.php">Английский язык</a>
    </h2>
    <div class="card-item__info">
      <p class="card-item__availability card-item__availability--yes">Набор открыт</p>
      <p class="card-item__rating">4.8</p>
      <a class="card-item__link-to-reviews link" href="info.php">3 отзыва</a>
    </div>
    <p class="card-item__description">Английский язык для младших школьников в онлайн формате. Обучение в игре.</p>

    <dl class="card-item__price-list">
      <dt>Цена:</dt>
      <dd>600  &#8381;/час</dd>
    </dl>
    <!-- блок выгода английский начало -->
    <span class="card-item__parameter-list card-item__parameter-list--english">
      <svg class="card-item__parameter-item" fill="#02734a" width="47" height="40">
        <use xlink:href="./img/sprite.svg#sp-english_1_uslugi_icon"></use>
      </svg>
      Увижу весь мир, выберу серьезное образование.
    </span>
    <!-- блок выгода конец -->
    <div class="card-item__button-block">
      <button class="button card-info__button modal-open" type="button" data-name="english">Записаться на занятия
        <span class="visually-hidden">Записаться на занятия по английскому языку.</span>
      </button>
      <a class="button card-info__button card-info__button--border" href="info.php">
        <span>
          <svg class="card-info__button-svg" width="20" height="20" fill="#03f">
            <use xlink:href="./img/sprite.svg#sp-icon-arrow_btn"></use>
        </svg>
      </span>
        Подробнее о <span>занятиях</span> <span class="visually-hidden">Подробнее про занятия.</span>
      </a>
    </div>
  </article>
</li>
