<section class="cards">
  <h2 class="visually-hidden">Список усуг</h2>
  <ul class="card-list-container">
    <!-- Ментальная арифметика начало -->
      @include('card-mental.html')
    <!-- Ментальная арифметика КОНЕЦ -->
    <!-- Робототехника НАЧАЛО -->
      @include('card-robot.html')
    <!-- Робототехника КОНЕЦ -->
    <!-- Репетитор НАЧАЛО -->
      @include('card-repetitor.html')
    <!-- Репетитор КОНЕЦ -->
    <!-- Логопед НАЧАЛО -->
      @include('card-logoped.html')
    <!-- Логопед КОНЕЦ -->
    <!-- Английский НАЧАЛО -->
      @include('card-english.html')
    <!-- Английский КОНЕЦ -->
    <!-- Нейропсихолог НАЧАЛО -->
      @include('card-neuropsychologist.html')
    <!-- Нейропсихолог КОНЕЦ -->
    <!-- Психотерапевт НАЧАЛО -->
      @include('card-psychotherapist.html')
    <!-- Психотерапевт КОНЕЦ -->
    <!-- Каллиграфия НАЧАЛО -->
      @include('card-calligraphy.html')
    <!-- Каллиграфия КОНЕЦ -->
          <!-- <span class="article__likes">
            <svg class="article__likes-svg" fill="#b2b2b2" width="22" height="20">
              <use xlink:href="#sp-icon-like"></use>
            </svg>
            254
          </span> -->

  </ul>
</section>
