<li class="card-list-container__item">
  <article class="card-item">
    <a href="info.php" class="card-item__chevron card-item__chevron--sale">Действует акция</a>
    <span class="visually-hidden">Робототехника для детей в детском центре &laquo;СТАРТ&raquo; | стоимость занятий</span>
    <a href="info.php" class="card-item__link">
      <picture>
        <source type="image/webp" media="(min-width: 1200px)"
          srcset="img/photo-robot-desktop@1x.webp 1x, img/photo-robot-desktop@2x.webp 2x">
        <source type="image/webp" media="(min-width: 768px)"
          srcset="img/photo-robot-tablet@1x.webp 1x, img/photo-robot-tablet@2x.webp 2x">
        <source type="image/webp"
          srcset="img/photo-robot-mobile@1x.webp 1x, img/photo-robot-mobile@2x.webp 2x">

        <source media="(min-width: 1200px)"
          srcset="img/photo-robot-desktop@1x.jpg 1x, img/photo-robot-desktop@2x.jpg 2x">
        <source media="(min-width: 768px)"
          srcset="img/photo-robot-tablet@1x.jpg 1x, img/photo-robot-tablet@2x.jpg 2x">
        <img class="card-item__img" src="img/photo-robot-mobile@1x.jpg"
          srcset="img/photo-robot-mobile@1x.jpg 1x, img/photo-robot-mobile@2x.jpg 2x"
          alt="Робототехника для детей" aria-labelledby="title_2">
      </picture>
    </a>
    <p class="card-item__division">Для детей от 4-х лет</p>
    <h2 class="card-item__title" id="title_2">
      <a class="card-item__title-link" href="info.php">Робототехника</a>
    </h2>
    <div class="card-item__info">
      <p class="card-item__availability card-item__availability--yes">Набор открыт</p>
      <p class="card-item__rating">5.0</p>
      <a class="card-item__link-to-reviews link" href="info.php">6 отзывов</a>
    </div>
    <p class="card-item__description">На&nbsp;различных конструкторах, в&nbsp;том числе на&nbsp;<a class="card-item__text-link link" target="_blank" rel="noopener" title="Lego" arial-label="Перейти к статье с определением: что такое Lego." href="https://ru.wikipedia.org/wiki/Lego_Group">Lego</a> WeDo 2.0, Lego Technic, Lego Mindstorm.</p>
    <dl class="card-item__price-list">
      <dt>Цена:</dt>
      <dd>500  &#8381;/час</dd>
    </dl>
    <!-- блок выгода робот начало -->
    <span class="card-item__parameter-list card-item__parameter-list--roboto">
      <svg class="card-item__parameter-item" fill="#401c8c" width="47" height="40">
        <use xlink:href="./img/sprite.svg#sp-robototehnica_uslugi_icon"></use>
      </svg>
        Конструируем роботов. Буду изобретателем.
    </span>
    <!-- блок выгода конец -->
    <div class="card-item__button-block">
      <button class="button card-info__button modal-open" type="button" data-name="robots">Записаться на занятия
        <span class="visually-hidden">Записаться на занятия по Робототехнике.</span>
      </button>
      <a class="button card-info__button card-info__button--border" href="info.php">
        <span>
          <svg class="card-info__button-svg" width="20" height="20" fill="#03f">
            <use xlink:href="./img/sprite.svg#sp-icon-arrow_btn"></use>
        </svg>
      </span>
        Подробнее о <span>занятиях</span> <span class="visually-hidden">Подробнее про занятия.</span>
      </a>
    </div>
  </article>
</li>
