      <!-- статья -->
      <section class="main-article-uslugi">
        <!-- header_article start-->
              <span class="visually-hidden">Детская школа ментальной арифметики в Красноярске, в Северном.</span>
                <article class="main-article">
                  <header class="main-article__header">
        
                   <div class="main-article__wrapper-header-img">
                    <picture>
                      <!-- <source type="image/webp" media="(min-width: 1200px)"
                        srcset="img/mental-desktop@1x.webp 1x, img/mental-desktop@2x.webp 2x">
                      <source type="image/webp" media="(min-width: 768px)"
                        srcset="img/mental-tablet@1x.webp 1x, img/mental-tablet@2x.webp 2x">                  -->
        
                      <source media="(min-width: 1200px)"
                        srcset="img/mental_artical/mental-desktop@1x.jpg 1x, img/mental_artical/mental-desktop@2x.jpg 2x">
                      <source media="(min-width: 768px)"
                        srcset="img/mental_artical/mental-tablet@1x.jpg 1x, img/mental_artical/mental-tablet@2x.jpg 2x">
                        <img class="main-article__header-img" src="img/mental_artical/mental-desktop@1x.jpg" alt="Ментальная арифметика в детском центре &laquo;СТАРТ&raquo;">
                    </picture>
                   </div>
          
                   
                    <div class="main-article__header-content">
                      <a class="main-article__title-link"  href="#" target="_blank" rel="noopener">  
                        <h2 class="main-article__title">Для чего нужна ментальная арифметика?</h2>
                      </a>
                      <div class="main-article__meta-row">
                        <div class="main-article__meta-col">
                          <time class="main-article__meta main-article__meta--date" pubdate datetime="2023-04-26" title="Aпрель 26, 2023">26 апреля 2023</time>
                        </div>
                        <div class="main-article__meta-col">
                          <span class="main-article__meta main-article__meta--read-time">7 мин</span>
                        </div>
        
                      <!-- убрать на мобилке пока -->
                        <div class="main-article__meta-col">
                          <address class="main-article__meta main-article__meta--author"><a  rel="author" href="#" class="main-article__meta-link" target="_blank" rel="noopener">Ксения Шевченко</a></address>
                        </div>
                      <!-- убрать на мобилке пока -->
        
                      <!-- убрать на мобилке пока -->
                        <!-- <div class="main-article__meta-col">
                          <span class="main-article__meta main-article__meta--views">16 129</span>
                        </div> -->
                      <!-- убрать на мобилке пока -->
                      </div>
                    </div>
                  </header>
        <!-- header_article end -->
        
        <!--article_body start -->
                  <div class="main-article__content-wrapper">
                    <p class="main-article__lead dotted-decoration">
                      Хотите, чтобы ваш ребенок научился легко и&nbsp;быстро считать в&nbsp;уме и&nbsp;не&nbsp;только? Мы&nbsp;подготовили для вас топ-10 ответов на&nbsp;часто задаваемые вопросы. Надеемся, что эта статья поможет сделать выбор в&nbsp;пользу занятий ментальной арифметикой.
                      <!-- Вашего малыша привлекает математика? Тогда &laquo;СТАРТ&raquo; может стать для него отправной точкой!  -->
                    </p>
        
        <!-- оглавление содержание начало-->
                    <p class="main-article__nav-title">Содержание:</p>
                    <nav class="main-article__nav">
                      <ol class="main-article__nav-list">
                        <li class="main-article__nav-item"><a class="main-article__link" href="#part-1">Что  это такое</a></li>
                        <li class="main-article__nav-item"><a class="main-article__link" href="#part-2">Со скольки лет заниматься</a></li>
                        <li class="main-article__nav-item"><a class="main-article__link" href="#part-3">Как это работает</a></li>
                        <li class="main-article__nav-item"><a class="main-article__link" href="#part-4">Опытные преподаватели</a></li>
                        <li class="main-article__nav-item"><a class="main-article__link" href="#part-5">Как проходят занятия</a></li>
                        <li class="main-article__nav-item"><a class="main-article__link" href="#part-6">Инвестиции в будущее</a></li>
                        <li class="main-article__nav-item"><a class="main-article__link" href="#part-7">Наши преимущества</a></li>
                        <li class="main-article__nav-item"><a class="main-article__link" href="#part-8">Какая польза от занятий</a></li>
                        <li class="main-article__nav-item"><a class="main-article__link" href="#part-9">Совет от психолога</a></li>
                        <li class="main-article__nav-item"><a class="main-article__link" href="#part-10">Минусы &laquo;менталки&raquo;</a></li>
                        <!-- <li class="main-article__nav-item"><a class="main-article__link" href="#part-11">Какие навыки получит ребенок</a></li> -->
                      </ol>
                    </nav>
        <!-- оглавление содержание конец-->
        
        
                    <ul class="main-article__rules">
        <!-- статьи секция 1-->
                      <li class="main-article__rules-item">
                        <section class="main-article__rule" id="part-1">
                          <h2 class="visually-hidden">Что такое менальная арифметика</h2>
                          <h3 class="main-article__rules-title">Что это такое</h3>
                            <p class="main-article__rules-text">Ментальная арифметика&nbsp;&mdash; древняя методика быстрого счета на&nbsp;специальных счетах, которые, как говорят, придумали в&nbsp;древнем Китае, ей&nbsp;также пользовались в&nbsp;Древней Греции, Риме и&nbsp;Индии.
                           </p>
                            <p class="main-article__rules-text">На&nbsp;самом деле старинными счетными досками-абаками пользовались по&nbsp;всему свету, их&nbsp;точное происхождение неизвестно. А&nbsp;латинский суффикс появился уже поздне, с&nbsp;ним, как известно, любое слово звучит весомее.
                             </p>
                          <div class="main-article__img-with-reference">
                            
                            <div class="main-article__wrapper-reference-img">
                              <picture>                 
                                <source type="image/webp"
                                srcset="img/mental_artical/mental-start-mobile@1x.webp 1x, img/mental_artical/mental-start-mobile@2x.webp 2x">
              
                               <img class="main-article__img-reference main-article__img-reference--cropping-bottom-right 
                                  main-article__img-reference main-article__img-reference--cropping-top-left" src="img/mental_artical/mental-start-mobile@1x.jpg" alt="Что это такое менальная арифметика" 
                                srcset="img/mental_artical/mental-start-mobile@1x.jpg 1x, img/mental_artical/mental-start-mobile@2x.jpg 2x">
                              </picture>      
                            </div>
        
                            <p class="main-article__reference dotted-decoration">Абак (абакус)&nbsp;&mdash; древние счеты с&nbsp;пятью&nbsp;косточками на&nbsp;спицах появились более 3000 лет назад и&nbsp;используются до&nbsp;сих пор для вычислений на&nbsp;занятиях.</p>
                          </div>
                        </section>
                        <aside class="main-article__sidebar socials">
                          <h2 class="socials-title">Поделиться в соцсетях</h2>
                          <ul class="socials-list">
                            <li class="socials-item">
                              <a class="socials-link socials-link-telegram" href="https://telegram.me/share/url?url=https://abakusstart.ru//mentalnaya-arifmetika.php&text=Поделиться" target="_blank" rel="noopener" aria-label="Share on Telegram" title="Telegram"><span class="visually-hidden">Telegram</span></a>
                            </li>
                            <li class="socials-item">
                              <a class="socials-link socials-link-pinterest" href="https://ru.pinterest.com/pin/create/button/?url=https:///mentalnaya-arifmetika.php" target="_blank" rel="noopener" aria-label="Share on Pinterest" title="Pinterest"><span class="visually-hidden">Pinterest</span></a>
                            </li>
                            <li class="socials-item">
                              <a class="socials-link socials-link-instagram" href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Share on Instagram"  title="Instagram"><span class="visually-hidden">Instagram</span></a>
                            </li>
                          </ul>
                        </aside>
                      </li>
        
        <!-- статьи секция 2-->
                      <li class="main-article__rules-item">
                        <section class="rule" id="part-2">
                          <h2 class="visually-hidden">Со скольки лет заниматься менальной арифметикой?</h2>
                          <h3 class="main-article__rules-title">Со скольки лет</h3>
                          <p class="main-article__rules-text">Ментальная арифметика подходит для всех детей от&nbsp;4,5 лет без исключения. Она не&nbsp;только дает ребенку навыки быстро считать в&nbsp;уме прямым и&nbsp;обратным счетом, складывать числа, вычитать, но&nbsp;и&nbsp;помогает полноценному развитию ребенка.</p>
                          <div class="main-article__wrapper-articl-img">
                            <picture>
                              <source type="image/webp"
                              srcset="img/mental_artical/mental-child-mobile@1x.webp 1x, img/mental_artical/mental-child-mobile@2x.webp 2x">
            
                             <img class="main-article__img main-article__img--cropping-top-right" src="img/mental_artical/mental-child-mobile@1x.jpg" alt="Со скольки лет заниматься менальной арифметикой" 
                              srcset="img/mental_artical/mental-child-mobile@1x.jpg 1x, img/mental_artical/mental-child-mobile@2x.jpg 2x">
                            </picture>
                          </div>
                          
                          
                          <!-- <img class="main-article__img main-article__img--cropping-top-right" src="img/photo-3.jpg" width="304" height="453" alt="Со скольки лет заниматься менальной арифметикой"> -->
                        </section>
                      </li>
        
        <!-- статьи секция 3-->
                      <li class="main-article__rules-item">
                        <section class="rule" id="part-3">
                          <h2 class="visually-hidden">Из чего состоит методика абакус</h2>
                          <h3 class="main-article__rules-title">Как это работает</h3>
                          <aside class="main-article__right main-article__right-floated--aside">
                            <h3 class="main-article__right_title">Мелкая моторика</h3>
                            <a href="https://ru.wikipedia.org/wiki/%D0%9C%D0%B5%D0%BB%D0%BA%D0%B0%D1%8F_%D0%BC%D0%BE%D1%82%D0%BE%D1%80%D0%B8%D0%BA%D0%B0" target="_blank">
                              <figure>
                                <img class="main-article__right-img" src="img/mental_artical/motorica_arifmetica-mental.jpg" width="154" height="154" alt="Развитие мелкой моторики рук">
                                <figcaption>Абакус-соробан</figcaption>
                              </figure>
                            </a>                   
                          </aside>
                          <p class="main-article__rules-text"><strong>Из&nbsp;чего состоит методика абакус?</strong> Сначала дети учатся считать на&nbsp;настоящем абаке&nbsp;&mdash; специальных счетах (соробан, абакус). В&nbsp;процессе занятий у&nbsp;детей развивается активно мелкая моторика рук, тренируется навык выполнять действия не&nbsp;ведущей рукой. Потом дети начинают считать ментально&nbsp;&mdash; счеты убирают и&nbsp;ребенок, представляя в&nbsp;уме счеты, может производить с&nbsp;ним те&nbsp;же операции, что и&nbsp;с&nbsp;настоящими.</p>
                          <p class="main-article__rules-text">Навык быстро вычислять в&nbsp;уме&nbsp;&mdash; далеко не&nbsp;конечный результат. В&nbsp;момент, когда ребенок уже не&nbsp;работает с&nbsp;реальными счетами-абакус, правое полушарие мозга начинает работать активнее. Оно отвечает за&nbsp;концентрацию внимания и&nbsp;воображение, распознает сложные визуальные и&nbsp;звуковые образы.</p>
                          <p class="main-article__rules-text">В&nbsp;это&nbsp;же время&nbsp;ребенок развивает счет и&nbsp; логическое мышление, за&nbsp;которые отвечает левое полушарие. Можно сказать, что ментальная арифметика помогает комплексному развитию детского интеллекта&nbsp;&mdash; ведь когнитивные способности ребенка зависят от&nbsp;развития двух полушарий мозга.</p>
                          <p class="main-article__rules-text">Почти как маленькое чудо&nbsp;&mdash; захватывающий процесс наблюдения на занятиях: двигая в&nbsp;воздухе невидимые костяшки, малыши, многие из&nbsp;которых дошколята, смалывают длинные ряды двухзначных и&nbsp;даже трехзначных чисел и&nbsp;за&nbsp;считанные секунды дают правильный ответ.</p>
                          <p class="main-article__rules-text">Несомненно, ребенку потребуется развить объём оперативной памяти для удержания в&nbsp;уме большого количества промежуточных результатов вычислений. А&nbsp;долговременная память будет развиваться из-за большого количества дополнительных упражнений.</p>
                          <p class="main-article__rules-text">Методика абакус не простая техника вычислений, требующая сосредоточенности и&nbsp;усидчивости. С&nbsp;самого первого занятия дети, которые хотят овладения навыками такого счета, учатся еще терпению и&nbsp;упорству.</p>
                          <div class="main-article__wrapper-articl-img">
                            <picture>
                              <source type="image/webp"
                              srcset="img/mental_artical/mental-method-mobile@1x.webp 1x, img/mental_artical/mental-method-mobile@2x.webp 2x">
            
                             <img class="main-article__img main-article__img--cropping-top-right" src="img/mental_artical/mental-method-mobile@1x.jpg" alt="Как это работает или из чего состоит методика абакус" 
                              srcset="img/mental_artical/mental-method-mobile@1x.jpg 1x, img/mental_artical/mental-method-mobile@2x.jpg 2x">
                            </picture>
                          </div>
                          
                          <!-- <img class="main-article__img main-article__img--cropping-bottom-left" src="img/photo-10.jpg" width="304" height="453" alt="Как это работает или из чего состоит методика абакус"> -->
                        </section>
                      </li>
        
        <!-- статьи секция 4-->
                      <li class="main-article__rules-item">
                        <section class="rule" id="part-4">
                          <h2 class="visually-hidden">Есть ли у преподавателей специальное образование?</h2>
                          <h3 class="main-article__rules-title">Преподаватели</h3>
                          <p class="main-article__rules-text"><strong>Есть&nbsp;ли у&nbsp;преподавателей специальное образование?</strong> Мы&nbsp;является официальным представителем международной школы по&nbsp;ментальной арифметике &laquo;Абакус- центр&raquo;. Преподаватели центра проходят стажировки и&nbsp;обучение у&nbsp;московских специалистов.</p>
                          <p class="main-article__rules-text">Наши дети принимают участие в&nbsp;международных олимпиадах и&nbsp;занимают там также и&nbsp;призовые места. Мы&nbsp;работаем по&nbsp;выверенным на опыте программам и&nbsp;методикам обучения.</p>
                        </section>
                      </li>
        
        <!-- статьи секция 5-->             
                      <li class="main-article__rules-item">
                        <section class="rule" id="part-5">
                          <h2 class="visually-hidden">Как проходят занятия?</h2>
                          <h3 class="main-article__rules-title">Занятия</h3>
                          <p class="main-article__rules-text">Занятия проходят в&nbsp;спокойной, непринужденной обстановке в&nbsp; микро-группах <b>1,5&nbsp;часа</b> или индивидуально <b>1&nbsp;час</b>. Группы не&nbsp;более 4-6&nbsp;детей. Переменки в&nbsp;игровой комнате или на&nbsp;улице с&nbsp;преподавателем.</p>
                          <p class="main-article__rules-text">После занятия выдаются домашние задания для закрепления полученных знаний (выполняются не&nbsp;только в&nbsp;онлайн-платформе).</p>
                          
                          <div class="main-article__img-with-reference">
        
                            <div class="main-article__wrapper-reference-img">
                              <picture>                 
                                <source type="image/webp"
                                srcset="img/mental_artical/mental-price-mobile@1x.webp 1x, img/mental_artical/mental-price-mobile@2x.webp 2x">
              
                               <img class="main-article__img-reference main-article__img-reference--cropping-bottom-right 
                                  main-article__img-reference main-article__img-reference--cropping-top-left" src="img/mental_artical/mental-price-mobile@1x.jpg" alt="Ментальная арифметика" 
                                srcset="img/mental_artical/mental-price-mobile@1x.jpg 1x, img/mental_artical/mental-price-mobile@2x.jpg 2x">
                              </picture>      
                            </div>
        
                            <p class="main-article__reference dotted-decoration">Стоимость группового занятия <b>900</b>&nbsp;рублей, индивидуального <b>1100</b>&nbsp;рублей.</p>
                          </div>
                        </section>
                      </li>
        
        <!-- статьи секция 6-->
                      <li class="main-article__rules-item">
                        <section class="rule" id="part-6">
                          <h2 class="visually-hidden">Инвестиции в будущее</h2>
                          <h3 class="main-article__rules-title">Инвестиции</h3>
                          <blockquote class="main-article__quote">
                            <p class="main-article__quote-text">
                              Я&nbsp;слышу и&nbsp;забываю. Я&nbsp;вижу и&nbsp;запоминаю. Я&nbsp;делаю и&nbsp;понимаю.
                            </p>
                            <cite>КОНФУЦИЙ, китайский древний мыслитель и философ.</cite>
                          </blockquote>
                          <p class="main-article__rules-text">Как нельзя лучше Конфуций  выразил в&nbsp;лаконичной форме сущность способностей человека.
                            Чтение и&nbsp;просмотр очень важны для развития потенциала нашего мозга, но&nbsp;наибольшую пользу приносят действия.
                          </p>
                          <p class="main-article__rules-text">И&nbsp;в&nbsp;ментальной арифметике стабильный результат дают постоянные занятия. Тренированный мозг легче будет воспринимать информацию, осваивать новые предметы в&nbsp;школе. В&nbsp;дальнейшем это несомненно скажется на&nbsp;способности ставить перед собой и&nbsp;решать серьезные задачи во&nbsp;взрослой жизни.
                          </p>
                        </section>
                      </li>
        
        <!-- статьи секция 7-->
                    <li class="main-article__rules-item">   
                      <section class="main-article__rule-list" id="part-7">
                        <h2 class="visually-hidden">Почему стоит заниматься у нас?</h2>
                        <h3 class="main-article__rules-title">Преимущества</h3>
                        <img class="main-article__right-floated" src="img/mental_artical/abacus-mental.svg" width="155" height="160" alt="Международная школа Абакус">
                        <p class="main-article__bullet-subhead">Почему стоит заниматься у&nbsp;нас?</p>
                        <ul class="main-article__bullet-list">
                          <li class="main-article__bullet-list-item">Мы&nbsp;являемся официальным представителем международной школы &laquo;Абакус&raquo;.</li>
                          <li class="main-article__bullet-list-item">Наши преподаватели проходят обучение и стажировку в&nbsp;Московском филиале школы.</li>
                          <li class="main-article__bullet-list-item">Занятия проходят на&nbsp;портале &laquo;Абакус-центра&raquo;.</li>
                        </ul>
                      </section>
                    </li>
        
        <!-- статьи секция 8-->
                      <li class="main-article__rules-item">
                        <section class="rule" id="part-8">
                          <h2 class="visually-hidden">Какая польза от ментальной арифметики?</h2>
                          <h3 class="main-article__rules-title">Какая польза</h3>
                          <p class="main-article__rules-text">Восприятие, внимание, память, мышление, воображение, речь&nbsp;&mdash; это когнитивные навыки&nbsp;&mdash; то&nbsp;есть базовые способности. Почему их&nbsp;надо развивать у&nbsp;ребенка? При отсутствие этих навыков, придя в&nbsp;школу, ребенок зачастую не&nbsp;испытывает интерес к&nbsp;учебе, считая ее&nbsp;скучной и&nbsp;сложной. 
                            Когнитивные навыки обеспечивают успех в&nbsp;школьной учебе. Именно поэтому очень важно &nbsp;сформировать  их у&nbsp;вашего ребенка до&nbsp;школы.</p>
                          <p class="main-article__rules-text">Ментальная арифметика развивает мышление, память, внимательность... Такие занятия позитивно будут влиять на&nbsp;способности к&nbsp;обучению в&nbsp;школе, особенно если ребенок не очень внимателен, так как они требуют особой концентрации, благодаря которой ребенок учится удерживать внимание.
                          <p class="main-article__rules-text"> К&nbsp;тому&nbsp;же на&nbsp;занятиях формируется навык трудиться&nbsp;&mdash; без него в&nbsp;жизни очень трудно чего-то достичь.</p> 
                          <p class="main-article__rules-text">Еще один плюс: целеустремленная компания сверстников на&nbsp;занятиях в&nbsp;группе&nbsp;&mdash; скорее всего они смогут стать новыми друзьями. Ничто так не&nbsp;сближает как общение и решение общих задач&nbsp;&mdash; очень хорошая мотивация для того, чтобы кроме развития когнитивных навыков найти друзей.</p>
                        </section>
                      </li>
        
       <!-- какие навыки получит ребенок --> 
                <li class="main-article__rules-item main-article__rules-item--skip">
                  <section class="profit">
                    <!-- <section class="profit" id="part-11"> -->
                    <h2 class="visually-hidden">Какие навыки получит ребенок на занятиях по ментальной арифметике | проверенные методики обучения ребенка.</h2>
                    <div class="profit__container">
                      <div class="profit__wrapper">
                        <div class="profit__list-column">
                          <h3 class="profit__title">Какие навыки получит ребенок</h3>
                          <ol class="profit__list">
                            <li class="profit__item"><span class="profit__name">Развитие памяти</span></li>
                            <li class="profit__item"><span class="profit__name"> Быстрый счет  в уме</span></li>
                            <li class="profit__item"><span class="profit__name">Концентрация внимания</span></li> 
                            <li class="profit__item"><span class="profit__name">Мелкая моторика</span></li>
                            <li class="profit__item"><span class="profit__name">Трудолюбие</span></li>
                            <li class="profit__item"><span class="profit__name">Творческое мышление</span></li>                 
                          </ol>
                      </div>
                        <div class="profit__img-column">
                          <picture>
                            <source type="image/webp"
                            srcset="img/mental_artical/mental-profit-mobile@1x.webp 1x, img/mental_artical/mental-profit-mobile@2x.webp 2x">
              
                          <img class="profit__img" src="img/mental_artical/mental-profit-mobile@1x.png" alt="Какие навыки получит ребенок на занятиях по ментальной арифметике" 
                            srcset="img/mental_artical/mental-profit-mobile@1x.png 1x, img/mental_artical/mental-profit-mobile@2x.png 2x">
                          </picture>
                          <!-- <img class="profit__img profit__img--cropping-top-left" src="img/photo-2.jpg" width="343" width="216" alt="Ментальной арифметика Северный, МатеЗалки, 11"> -->
                        </div>
                    </div>
                  </div>
                  </section> 
                </li>
        
        
        <!-- статьи секция 9-->
                      <li class="main-article__rules-item">
                        <section class="rule" id="part-9">
                          <h2 class="visually-hidden">Совет от психолога по ментальной арифметике</h2>
                          <h3 class="main-article__rules-title">Совет от 
                            <span class="tooltip">
                              <dfn class="tooltip__toggle" id="psicho" aria-labelledby="tooltip-label-psicho">психолога</dfn>
        
                                <span class="tooltip__content user__info" id="tooltip-label-psicho" role="tooltip">
                                    <img class="user__photo" src="img/mental_artical/dr_shetnikova-psychiatrist.jpg" width="64" height="64" alt="Психолог Щетникова Анастасия Сергеевна">
                                    <span class="user__name">Анастасия Щетникова</span>
                                    <span class="user__prof">психолог</span>
                                    <a href="https://instagram.com/dr.shetnikova?igshid=YmMyMTA2M2Y=" class="user__insta" target="_blank" rel="noopener" aria-label="Share on Instagram dr.shetnikova"  title="Instagram dr.shetnikova">#dr.shetnikova</a>
                                </span>
        
                            </span>
                          </h3>
                          <p class="main-article__rules-text">Сегодня мы&nbsp;говорим о&nbsp;ментальной арифметике&nbsp;&mdash; однако важнее понимать следующее: многим родителям в&nbsp;современном мире не&nbsp;хватает сил для личных занятий со&nbsp;своим ребенком. 
                            А ведь именно в&nbsp;детстве, закладываются и&nbsp;развиваются все фундаментальные способности.</p>
                          
                          <p class="main-article__rules-text">Дети развиваются всегда, чему&nbsp;бы вы&nbsp;их&nbsp;ни&nbsp;учили. 
                              А&nbsp;чему учить вашего ребенка&nbsp;&mdash; выбор за&nbsp;вами. </p>
                          <p class="main-article__rules-text">Помните, что необходимо учитывать индивидуальную специфику: математический или гуманитарный тип мышления у&nbsp;вашего ребенка. Однако, как и&nbsp;любые другие, математические способности можно развивать.</p>
                          <p class="main-article__rules-text">Учитывайте устойчивость и&nbsp;силы ребенка прежде чем записать его на&nbsp;занятия ментальной арифметикой. Начните с&nbsp;нескольких занятий, посмотрите как ребенок будет адаптироваться, а&nbsp;потом принимайте решение.</p>
                          <p class="main-article__rules-text">Ведь при перегрузках у&nbsp;ребенка появляется чувство усталости и&nbsp;это грозит обратным эффектом&nbsp;&mdash; потерей интереса к&nbsp;занятиям. 
                            Для формирования навыков ментального счета требуется время&nbsp;&mdash; это не&nbsp;моментальный результат&nbsp;&mdash; надо проявить терпение и не ждать чего-то невозможного.</p>
                            <p class="main-article__rules-text">Если ребенка увлечет устный счет, он&nbsp;сможет самостоятельно развить и&nbsp;другие когнитивные способности.</p>
                            <div class="main-article__img-with-reference">
                            
                              <div class="main-article__wrapper-reference-img">
                                <picture>                 
                                  <source type="image/webp"
                                  srcset="img/mental_artical/mental-lesson-mobile@1x.webp 1x, img/mental_artical/mental-lesson-mobile@2x.webp 2x">
                
                                 <img class="main-article__img-reference main-article__img-reference--cropping-bottom-right 
                                    main-article__img-reference main-article__img-reference--cropping-top-left" src="img/mental_artical/mental-lesson-mobile@1x.jpg" alt="Что это такое менальная арифметика?" 
                                  srcset="img/mental_artical/mental-lesson-mobile@1x.jpg 1x, img/mental_artical/mental-lesson-mobile@2x.jpg 2x">
                                </picture>
                              </div>
          
                              <p class="main-article__reference dotted-decoration">Общение с&nbsp;ребятами в возрастных группах в&nbsp;детском центре и&nbsp;занятия с&nbsp;квалифицированными педагогами, уделяющими внимание каждому, умеющими увлечь детей, помогут развитию личности ребенка и&nbsp;его способностей.</p>
                            </div>   
                          </section>
                      </li>
        
        <!-- статьи секция 10-->
                      <li class="main-article__rules-item">
                        <section class="rule" id="part-10">
                          <h2 class="visually-hidden">Минусы ментальной арифметики для детей</h2>
                          <h3 class="main-article__rules-title">Минусы</h3>
                          <p class="main-article__rules-text">Иногда ребенок, стремясь быть самым первым, пытается как можно быстрее выполнить задания, 
                            &laquo;прыгая по&nbsp;цифрам&raquo;, и&nbsp;часто делает ошибки. Меньше ошибок допускают дети, занимающиеся под&nbsp;руководством опытного преподавателя, а&nbsp;не&nbsp;самостоятельно или с&nbsp;родителями. 
                          </p>  
                          <p class="main-article__rules-text"> С&nbsp;постоянными тренировками у&nbsp;ребенка повысится уровень знаний и&nbsp;навыков&nbsp;&mdash; и&nbsp;ошибок станет значительно меньше.</p>               
                        </section>
                      </li>
                    </ul>
                  </div>
        
        <!--article_body end -->
        
        <!--article_footer start -->
                  <footer class="main-article__footer">
                    <div class="main-article__content-wrapper">
                      <span class="visually-hidden">Интересные статьи по ментальной арифметике.</span>
                      <h3 class="main-article__footer-title line-decoration">Интересно</h3>
                      <ul class="main-article__footer-links">
                        <li class="main-article__footer-item">
                          <a class="main-article__footer-link" href="https://empiremam.com/psikhologic-testy/test-na-vnimatelnost-dlya-detey.html?ysclid=lgec2u0rex715832458" target="_blank" rel="noopener" title="Тест на внимательность для детей." arial-label="Перейти к тесту на внимательность.">
                            Тест на внимательность</a>
                        </li>
                        <li class="main-article__footer-item">
                          <a class="main-article__footer-link" href="https://testometrika-com.turbopages.org/testometrika.com/s/for-children/is-your-child-talented/" target="_blank" rel="noopener" title="Ваш ребенок талантливый?" arial-label="Перейти к тесту на определение способностей ребенка.">Ваш ребенок талантливый?</a>
                        </li>
                        <li class="main-article__footer-item">
                          <a class="main-article__footer-link" href="https://www.psychologies.ru/articles/disfunkcionalnaya-semya-10-neglasnykh-pravil-toksichnykh-roditelei/" target="_blank" rel="noopener" title="Дисфункциональная семья: 10 негласных правил токсичных родителей." arial-label="Перейти к статье р токсичных родителях.">Токсичные родители
                          </a>
                        </li>
                        <li class="main-article__footer-item">
                          <a class="main-article__footer-link" href="https://www.psychologies.ru/tests/test/880252/" target="_blank" rel="noopener" title="Какой вы герой из любимого детского мультфильма?" arial-label="Перейти к мини-тесту: Какой вы герой из любимого детского мультфильма?">Какой вы герой</a>
                        </li>
                        <li class="main-article__footer-item">
                          <a class="main-article__footer-link" href="https://www.psychologies.ru/standpoint/roditeli-manipulyatory-3-tipichnye-taktiki/" target="_blank" rel="noopener" title="Родители-манипуляторы: 3 типичные тактики." arial-label="Перейти к статье про родителей-манипуляторов.">Родители-манипуляторы</a>
                        </li>
                      </ul>
                    </div>            
                  </footer>
        <!--article_footer end -->
                </article>
            </section>
