    <!-- записаться на занятие блок -->
    <section class="order" id="order-mental">
      <h2 class="visually-hidden">Записывайтесь через форму на сайте или по телефону 8 908 010 4854  по направлению ментальная арифметика. Первое занятие бесплатно.</h2>
      <div class="order__container">
        <div class="order__wrapper">
          <div class="order__text-column">
            <h3 class="order__title">Ментальная арифметика</h3>
            <p class="order__lead">Первое занятие бесплатно</p>
            <p class="order__text">Ментальная арифметика&nbsp;&mdash; система развития интеллекта, построенная на&nbsp;обучении устному счету. Приводите ваших будущих гениев.
               Ждём на&nbsp;занятиях у&nbsp;нас в&nbsp;детском центре &laquo;СТАРТ&raquo;.
            </p>
            <dl class="order__price-list">
              <dt>Цена:</dt>
              <dd>от 900 <span class="price__rub--white">Р</span>&thinsp;/час</dd>
            </dl>
    <!-- записаться на занятие кнопка -->
              <button class="button order__button modal-open" type="button" data-name="mental">Записаться на занятия
                <span class="visually-hidden">Записаться через форму на сайте на занятия по ментальной арифметике  или по телефону.</span>
              </button>
          </div>
          <div class="order__img-column">
            <!-- <picture>
              <source type="image/webp"
              srcset="img/mental_artical/photo-2@1x.webp 1x, img/mental_artical/photo-2@2x.webp 2x">

             <img class="order__img order__img--cropping-top-right" src="img/mental_artical/photo-2@1x.jpg" alt="Ментальная арифметика Северный, МатеЗалки, 11"
              srcset="img/mental_artical/photo-2@1x.jpg 1x, img/mental_artical/photo-2@2x.jpg 2x">
            </picture> -->


            <picture>
              <source type="image/webp" media="(min-width: 1200px)"
                srcset="img/mental_artical/mental-order-desktop@1x.webp 1x, img/mental_artical/mental-order-desktop@2x.webp 2x">
              <source type="image/webp" media="(min-width: 768px)"
                srcset="img/mental_artical/mental-order-tablet@1x.webp 1x, img/mental_artical/mental-order-tablet@2x.webp 2x">
              <source type="image/webp"
                srcset="img/mental_artical/mental-order-mobile@1x.webp 1x, img/mental_artical/mental-order-mobile@2x.webp 2x">

              <source media="(min-width: 1200px)"
                srcset="img/mental_artical/mental-order-desktop@1x.jpg 1x, img/mental_artical/mental-order-desktop@2x.jpg 2x">
              <source media="(min-width: 768px)"
                srcset="img/mental_artical/mental-order-tablet@1x.jpg 1x, img/mental_artical/mental-order-tablet@2x.jpg 2x">
              <img class="order__img" src="img/mental_artical/mental-order-mobile@1x.jpg"
                srcset="img/mental_artical/mental-order-mobile@1x.jpg 1x, img/mental_artical/mental-order-mobile@2x.jpg 2x"
                alt="Ментальная арифметика, Красноярск, Северный, МатеЗалки, 11">
            </picture>
          </div>
        </div>
      </div>
    </section>
