    <!-- ОТЗЫВЫ НАЧАЛО -->


    <section class="person-reviews" id="reviews">
      <h2 class="visually-hidden">Оставить отзыв о детском центре &laquo;СТАРТ&raquo;</h2>
      <div class="person-reviews__container">
        <div class="person-reviews__wrapper">
          <h3 class="person-reviews__title">Отзывы родителей</h3>
          <p class="person-reviews__info">Мы&nbsp;уже зарекомендовали себя не&nbsp;только среди родителей и&nbsp;детей нашего района, но&nbsp;и&nbsp;в&nbsp;профессиональном сообществе.
            Вот несколько отзывов родителей о&nbsp;результатах своих детей и&nbsp;о&nbsp;занятиях в&nbsp;нашем детском центре.</p>
            <a class="person-reviews__write-btn button" href="/form.php">Оставить свой</a>
        </div>
        <div class="carousel__swiper-wrapper">
          <span class="carousel__story-count">5 историй</span>
          <div class="carousel-swiper swiper">
              <div class="swiper-pagination"></div>
              <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="person-reviews__item">
                      <div class="person-reviews__item-wrapper person-reviews__item-wrapper--accent">
                        <div class="person-reviews__left">
                          <p class="person-reviews__category">Комментарий</p>
                          <div class="person-reviews__text">Ходили с&nbsp;сыном в&nbsp;&laquo;Старт&raquo; на&nbsp;ментальную арифметику с&nbsp;5-ти лет, сын знал цифры, но&nbsp;до&nbsp;30-ти. Примерно за&nbsp;2-3 месяца освоил быстрый счет до&nbsp;10-ти на&nbsp;сложение и&nbsp;вычитание. На&nbsp;занятиях нравилось&nbsp;то, что внимание ещё уделяли правильному написанию цифр, а&nbsp;на&nbsp;переменах играли в&nbsp;логические настольные игры, разгадывали ребусы или лабиринты&nbsp;&mdash; каждый раз что-то новое.</div>
                          <p class="person-reviews__category">Минусы</p>
                          <div class="person-reviews__text">Нет.</div>
                          <p class="person-reviews__category">Плюсы</p>
                          <div class="person-reviews__text">В&nbsp;итоге ребенок к&nbsp;школе был подготовлен основательно, нет страха пред цифрами и&nbsp;заданиями на&nbsp;счет. Спасибо педагогу, ходили с&nbsp;удовольствием.
                          </div>
                        </div>

                        <div class="person-reviews__right">
                          <div class="person-reviews__profile">
                            <p class="person-reviews__author">Алиса Воробьева</p>
                            <a class="person-reviews__link" href="https://krasnoyarsk.flamp.ru/firm/start_detskijj_centr_ooo_bereg_oficialnyjj_predstavitel_abakus_centra-70000001056207952" target="_blank" rel="noopener" title="flamp.ru" arial-label="Перейти к отзыву.">
                              отзыв с flamp.ru</a>
                          </div>

                          <div class="person-reviews__rate__wrapper">
                            <div role="img" aria-label="Рейтинг 5 из 5" class="person-reviews__rate person-reviews__rate--svg">
                              <!-- звездочка -->
                              <svg class="person-reviews__star" width="15" height="15">
                                <use xlink:href="img/sprite.svg#sp-ikon_star-article"></use>
                              </svg>
                              <svg class="person-reviews__star" width="15" height="15">
                                <use xlink:href="img/sprite.svg#sp-ikon_star-article"></use>
                              </svg>
                              <svg class="person-reviews__star" width="15" height="15">
                                <use xlink:href="img/sprite.svg#sp-ikon_star-article"></use>
                              </svg>
                              <svg class="person-reviews__star" width="15" height="15">
                                <use xlink:href="img/sprite.svg#sp-ikon_star-article"></use>
                              </svg>
                              <svg class="person-reviews__star" width="15" height="15">
                                <use xlink:href="img/sprite.svg#sp-ikon_star-article"></use>
                              </svg>
                              <span class="person-reviews__value">5</span>
                            </div>
                            <time class="person-reviews__date" pubdate datetime="2023-04-04" title="Май 5, 2023">06.05.2023</time>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="person-reviews__item">
                      <div class="person-reviews__item-wrapper">
                        <div class="person-reviews__left">
                          <p class="person-reviews__category">Комментарий</p>
                          <div class="person-reviews__text">Ходили с&nbsp;5-ти на&nbsp;занятия по&nbsp;ментальной арифметике до&nbsp;школы в&nbsp;&laquo;СТАРТ&raquo;, ребенок реально начал быстро считать, выучил счет до&nbsp;100, стал более усидчивый (были небольшие проблемы с&nbsp;этим), но&nbsp;когда пошли в&nbsp;школу, не&nbsp;получилось продолжить занятия&nbsp;&mdash; переехали в&nbsp;другой район.
                              </div>
                          <p class="person-reviews__category">Минусы</p>
                          <div class="person-reviews__text">Когда пропускаешь занятия по&nbsp;каким-то причинам, мало вариантов по&nbsp;времени для отработки.</div>
                          <p class="person-reviews__category">Плюсы</p>
                          <div class="person-reviews__text">Ребенок в&nbsp;школе, больше всего любит математику.</div>
                        </div>

                        <div class="person-reviews__right">
                          <div class="person-reviews__profile">
                            <p class="person-reviews__author">Карина Ларионова</p>
                            <a class="person-reviews__link" href="https://2gis.ru/krasnoyarsk/search/%D0%B4%D0%B5%D1%82%D1%81%D0%BA%D0%B8%D0%B9%20%D1%86%D0%B5%D0%BD%D1%82%D1%80%20%22%D0%A1%D1%82%D0%B0%D1%80%D1%82%22%20%D0%9C%D0%B0%D1%82%D0%B5%20%D0%97%D0%B0%D0%BB%D0%BA%D0%B8%2C%2011/firm/70000001056207952/92.942035%2C56.064837/tab/reviews?floor=0&m=92.942061%2C56.064826%2F17.74" target="_blank" rel="noopener" title="2gis.ru" arial-label="Перейти к отзыву.">
                              отзыв с 2gis.ru</a>
                          </div>
                          <div class="person-reviews__rate__wrapper">
                            <div role="img" aria-label="Рейтинг 5 из 5" class="person-reviews__rate person-reviews__rate--svg">
                              <!-- звездочка -->
                              <svg class="person-reviews__star" width="15" height="15">
                                <use xlink:href="img/sprite.svg#sp-ikon_star-article"></use>
                              </svg>
                              <svg class="person-reviews__star" width="15" height="15">
                                <use xlink:href="img/sprite.svg#sp-ikon_star-article"></use>
                              </svg>
                              <svg class="person-reviews__star" width="15" height="15">
                                <use xlink:href="img/sprite.svg#sp-ikon_star-article"></use>
                              </svg>
                              <svg class="person-reviews__star" width="15" height="15">
                                <use xlink:href="img/sprite.svg#sp-ikon_star-article"></use>
                              </svg>
                              <svg class="person-reviews__star" width="15" height="15">
                                <use xlink:href="img/sprite.svg#sp-ikon_star-article"></use>
                              </svg>
                              <span class="person-reviews__value">5</span>
                            </div>
                            <time class="person-reviews__date" pubdate datetime="2023-04-14" title="Апрель 14, 2023">14.04.2023</time>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="person-reviews__item">
                      <div class="person-reviews__item-wrapper">
                        <div class="person-reviews__left">
                          <p class="person-reviews__category">Комментарий</p>
                          <div class="person-reviews__text">Занимались в&nbsp;прошлом году ментальной арифметикой в&nbsp;ДЦ&nbsp;&laquo;СТАРТ&raquo;, была группа из&nbsp;3&nbsp;детей, но&nbsp;в&nbsp;середине года, дети начали болеть, то&nbsp;по&nbsp;двое, то&nbsp;по&nbsp;очереди. После Нового года одни бросили, другим надоело, дочь занималась одна, ей&nbsp;нравилось, но&nbsp;пропал &laquo;дух соревнований&raquo;, когда была команда, каждый хотел быть лучшим и&nbsp;это держало детей в&nbsp;тонусе.</div>
                          <p class="person-reviews__category">Минусы</p>
                          <div class="person-reviews__text">Проблема с&nbsp;парковкой, не&nbsp;всегда был администратор, но&nbsp;горячие напитки, родителям всегда предлагали.</div>
                          <p class="person-reviews__category">Плюсы</p>
                          <div class="person-reviews__text">Занятие проходило, даже если был 1&nbsp;ребенок и&nbsp;стоимость была всегда, как за&nbsp;групповое (даже когда дочь осталась одна, сказали, что это не&nbsp;наша вина).
                          </div>
                        </div>

                        <div class="person-reviews__right">
                          <div class="person-reviews__profile">
                            <p class="person-reviews__author">Андрей Викулов</p>
                            <a class="person-reviews__link" href="https://2gis.ru/krasnoyarsk/search/%D0%B4%D0%B5%D1%82%D1%81%D0%BA%D0%B8%D0%B9%20%D1%86%D0%B5%D0%BD%D1%82%D1%80%20%22%D0%A1%D1%82%D0%B0%D1%80%D1%82%22%20%D0%9C%D0%B0%D1%82%D0%B5%20%D0%97%D0%B0%D0%BB%D0%BA%D0%B8%2C%2011/firm/70000001056207952/92.942035%2C56.064837/tab/reviews?floor=0&m=92.942061%2C56.064826%2F17.74"  target="_blank" rel="noopener" title="2gis.ru" arial-label="Перейти к отзыву.">
                              отзыв с 2gis.ru</a>
                          </div>
                          <div class="person-reviews__rate__wrapper">
                            <div role="img" aria-label="Рейтинг 5 из 5" class="person-reviews__rate person-reviews__rate--svg">
                              <!-- звездочка -->
                              <svg class="person-reviews__star" width="15" height="15">
                                <use xlink:href="img/sprite.svg#sp-ikon_star-article"></use>
                              </svg>
                              <svg class="person-reviews__star" width="15" height="15">
                                <use xlink:href="img/sprite.svg#sp-ikon_star-article"></use>
                              </svg>
                              <svg class="person-reviews__star" width="15" height="15">
                                <use xlink:href="img/sprite.svg#sp-ikon_star-article"></use>
                              </svg>
                              <svg class="person-reviews__star" width="15" height="15">
                                <use xlink:href="img/sprite.svg#sp-ikon_star-article"></use>
                              </svg>
                              <svg class="person-reviews__star" width="15" height="15">
                                <use xlink:href="img/sprite.svg#sp-ikon_star-article"></use>
                              </svg>
                              <span class="person-reviews__value">5</span>
                            </div>
                            <time class="person-reviews__date" puddate datetime="2023-04-17" title="Апрель 17, 2023">17.04.2023</time>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="person-reviews__item">
                      <div class="person-reviews__item-wrapper">
                        <div class="person-reviews__left">
                          <p class="person-reviews__category">Комментарий</p>
                          <div class="person-reviews__text">С&nbsp;племянником ходим на&nbsp;ментальную арифметику&nbsp;&mdash; Антону 7&nbsp;лет. Преподаватель внимательный к&nbsp;детям, часто устраивает переменки в&nbsp;игровой форме для них. У&nbsp;Антона есть мотивация&nbsp;&mdash; он&nbsp;хочет поехать на&nbsp;соревнования в&nbsp;Москву по&nbsp;ментальной арифметике.</div>
                          <p class="person-reviews__category">Минусы</p>
                          <div class="person-reviews__text">Нет.</div>
                          <p class="person-reviews__category">Плюсы</p>
                          <div class="person-reviews__text">Нравится адекватная цена за&nbsp;занятия. И&nbsp;главное преимущество&nbsp;&mdash; очень здорово, что этот центр находится в&nbsp;Северном рядом с&nbsp;домом.
                          </div>
                        </div>

                        <div class="person-reviews__right">
                          <div class="person-reviews__profile">
                            <p class="person-reviews__author">Софья Перцева</p>
                            <a class="person-reviews__link" href="https://yandex.ru/profile/126944487030?ysclid=lf9i5j6r5471527668"  target="_blank" rel="noopener" title="yandex.ru" arial-label="Перейти к отзыву.">
                              отзыв с yandex.ru</a>
                          </div>
                          <div class="person-reviews__rate__wrapper">
                            <div role="img" aria-label="Рейтинг 5 из 5" class="person-reviews__rate person-reviews__rate--svg">
                              <!-- звездочка -->
                              <svg class="person-reviews__star" width="15" height="15">
                                <use xlink:href="img/sprite.svg#sp-ikon_star-article"></use>
                              </svg>
                              <svg class="person-reviews__star" width="15" height="15">
                                <use xlink:href="img/sprite.svg#sp-ikon_star-article"></use>
                              </svg>
                              <svg class="person-reviews__star" width="15" height="15">
                                <use xlink:href="img/sprite.svg#sp-ikon_star-article"></use>
                              </svg>
                              <svg class="person-reviews__star" width="15" height="15">
                                <use xlink:href="img/sprite.svg#sp-ikon_star-article"></use>
                              </svg>
                              <svg class="person-reviews__star" width="15" height="15">
                                <use xlink:href="img/sprite.svg#sp-ikon_star-article"></use>
                              </svg>
                              <span class="person-reviews__value">5</span>
                            </div>
                            <time class="person-reviews__date" puddate datetime="2023-03-27" title="Март 27, 2023">27.03.2023</time>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="person-reviews__item">
                      <div class="person-reviews__item-wrapper">
                        <div class="person-reviews__left">
                          <p class="person-reviews__category">Комментарий</p>
                          <div class="person-reviews__text">Руслан 6&nbsp;лет. Ходили в&nbsp;&laquo;СТАРТ&raquo; с&nbsp;5-ти лет на&nbsp;ментальную арифметику, сын знал только цифры до&nbsp;10&nbsp;и&nbsp;как называются, но&nbsp;писал сам не&nbsp;все цифры и&nbsp;плохо. На&nbsp;первом уроке сказали, что этого достаточно. Очень удивительно, но&nbsp;быстрый счет освоил довольно скоро, примерно через 2,5&nbsp;месяца.</div>
                          <p class="person-reviews__category">Минусы</p>
                          <div class="person-reviews__text">Маленький выбор времени для занятий.</div>
                          <p class="person-reviews__category">Плюсы</p>
                          <div class="person-reviews__text">Ещё порадовало&nbsp;&mdash; были задания на&nbsp;укрепление руки&nbsp;&mdash; ребенок научился писать все цифры довольно хорошо и&nbsp;с&nbsp;усидчивостью стало гораздо лучше.
                          </div>
                        </div>

                        <div class="person-reviews__right">
                          <div class="person-reviews__profile">
                            <p class="person-reviews__author">Павел Жабинский</p>
                            <a class="person-reviews__link" href="https://g.page/r/CXtkEvflozVsEAI/review" target="_blank" rel="noopener" title="google.com" arial-label="Перейти к отзыву.">
                              отзыв с google.com</a>
                          </div>
                          <div class="person-reviews__rate__wrapper">
                            <div role="img" aria-label="Рейтинг 4 из 5" class="person-reviews__rate person-reviews__rate--svg">
                              <!-- звездочка -->
                              <svg class="person-reviews__star" width="15" height="15">
                                <use xlink:href="img/sprite.svg#sp-ikon_star-article"></use>
                              </svg>
                              <svg class="person-reviews__star" width="15" height="15">
                                <use xlink:href="img/sprite.svg#sp-ikon_star-article"></use>
                              </svg>
                              <svg class="person-reviews__star" width="15" height="15">
                                <use xlink:href="img/sprite.svg#sp-ikon_star-article"></use>
                              </svg>
                              <svg class="person-reviews__star" width="15" height="15">
                                <use xlink:href="img/sprite.svg#sp-ikon_star-article"></use>
                              </svg>
                              <!-- <svg class="person-reviews__star" width="15" height="15">
                                <use xlink:href="img/sprite.svg#sp-ikon_star-article"></use>
                              </svg> -->
                              <span class="person-reviews__value">4</span>
                            </div>
                            <time class="person-reviews__date" puddate datetime="2023-04-27" title="Май 9, 2023">09.05.2023</time>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <button class="carousel__control left swiper-button-next" type="button" title="Предыдущий отзыв">
                <span class="visually-hidden">Назад</span>
                  <svg class="carousel__arrow left" aria-hidden="true" width="12" height="20">
                    <use xlink:href="img/sprite.svg#sp-icon-left-slider"></use>
                  </svg>
              </button>

              <button class="carousel__control right swiper-button-prev" type="button" title="Следующий отзыв">
                <span class="visually-hidden">Далее</span>
                <svg class="carousel__arrow right" aria-hidden="true" width="12" height="20">
                  <use xlink:href="img/sprite.svg#sp-icon-right-slider"></use>
                </svg>
              </button>
          </div>
        </div>

      </section>
