    <!-- Читайте также -->

    <section class="popular">
      <div class="popular__container">
        <span class="visually-hidden">Что еще почитать про ментальную арифметику.</span>
        <h3 class="popular__title line-decoration line-decoration--popular">Что еще почитать</h3>
        <!-- <h3 class="popular__title">Что еще почитать</h3> -->
        <ul class="popular__list">
<!-- 1_карточка -->
          <li class="popular__item">
            <a class="popular__item-link" href="https://marbir.ru/istoriya-razvitiya-mentalnoj-arifmetiki/" target="_blank" rel="noopener" title="История развития ментальной арифметики." arial-label="Перейти к статье про историю развития ментальной арифметики.">
              <!-- <section> -->

                <div class="popular__wrapper-img">
                  <picture>
                    <source type="image/webp"
                    srcset="img/mental_artical/history-mental-mobile@1x.webp 1x, img/mental_artical/history-mental-mobile@2x.webp 2x">

                    <img class="popular__item-img" src="img/mental_artical/history-mental-mobile@1x.jpg" alt="Развитие ментальной арифметики"
                    srcset="img/mental_artical/history-mental-mobile@1x.jpg 1x, img/mental_artical/history-mental-mobile@2x.jpg 2x">
                  </picture>
                </div>

                  <div class="popular__more-info">
                    <p class="popular__more-topic">История</p>
                    <time class="popular__more-meta" datetime="2020-04-26">26.04.2020</time>
                  </div>
                <h3 class="popular__item-title">Развитие ментальной арифметики</h3>
              <!-- </section> -->
            </a>
          </li>

<!-- 2_карточка -->
          <li class="popular__item">
            <a class="popular__item-link" href="https://www.forbes.ru/karera-i-svoy-biznes/363991-dvazhdy-dva-pochemu-lyudi-kalkulyatory-vostrebovany-v-biznese-bolshe"  target="_blank" rel="noopener" title="Дважды два. Почему «люди-калькуляторы» востребованы в бизнесе больше, чем гуманитарии." arial-label="Перейти к статье про «людей-калькуляторов».">

              <div class="popular__wrapper-img">
                <picture>
                  <source type="image/webp"
                  srcset="img/mental_artical/people-mental-mobile@1x.webp 1x, img/mental_artical/people-mental-mobile@2x.webp 2x">

                  <img class="popular__item-img" src="img/mental_artical/people-mental-mobile@1x.jpg" alt="Почему «люди-калькуляторы» востребованы в бизнесе больше, чем гуманитарии"
                  srcset="img/mental_artical/people-mental-mobile@1x.jpg 1x, img/mental_artical/people-mental-mobile@2x.jpg 2x">
                </picture>
              </div>

                <div class="popular__more-info">
                  <p class="popular__more-topic">Карьера</p>
                  <time class="popular__more-meta" datetime="2018-07-04">04.07.2018</time>
                </div>
              <h3 class="popular__item-title">&laquo;Люди-калькуляторы&raquo; и&nbsp;гуманитарии</h3>
            </a>
          </li>

<!-- 3_карточка -->
          <li class="popular__item">
            <a class="popular__item-link" href="https://trends.rbc.ru/trends/education/5f9996799a7947f1773301a7" target="_blank" rel="noopener" title="Как выбрать школу ментальной арифметики." arial-label="Перейти к статье про выбор школы ментальной арифметики.">

              <div class="popular__wrapper-img">
                <picture>
                  <source type="image/webp"
                  srcset="img/mental_artical/school-mental-mobile@1x.webp 1x, img/mental_artical/school-mental-mobile@2x.webp 2x">

                  <img class="popular__item-img" src="img/mental_artical/school-mental-mobile@1x.jpg" alt="Как выбрать школу или курс ментальной арифметики"
                  srcset="img/mental_artical/school-mental-mobile@1x.jpg 1x, img/mental_artical/school-mental-mobile@2x.jpg 2x">
                </picture>
              </div>

                <div class="popular__more-info">
                  <p class="popular__more-topic">Тренды</p>
                  <time class="popular__more-meta" datetime="2023-04-07">07.04.2023</time>
                </div>
              <h3 class="popular__item-title">Как выбрать школу ментальной арифметики</h3>
            </a>
          </li>
<!-- 4_карточка -->
          <li class="popular__item">
            <a class="popular__item-link" href="https://mel.fm/blog/yekaterina-khasanova1/8652-7sposobov-dokazat-mladshim-shkolnikam-chto-matematika-eto-kruto" target="_blank" rel="noopener" title="7 способов доказать, что математика — это круто." arial-label="Перейти к статье про 7 способов доказать, что математика — это круто.">

              <div class="popular__wrapper-img">
                <picture>
                  <source type="image/webp"
                  srcset="img/mental_artical/seven-proof-mental-mobile@1x.webp 1x, img/mental_artical/seven-proof-mental-mobile@2x.webp 2x">

                  <img class="popular__item-img" src="img/mental_artical/seven-proof-mental-mobile@1x.jpg" alt="7 способов доказать, что математика – это круто"
                  srcset="img/mental_artical/seven-proof-mental-mobile@1x.jpg 1x, img/mental_artical/seven-proof-mental-mobile@2x.jpg 2x">
                </picture>
              </div>

                <div class="popular__more-info">
                  <p class="popular__more-topic">Мотивация</p>
                  <time class="popular__more-meta" datetime="2020-11-24">24.11.2020</time>
                </div>
              <h3 class="popular__item-title">7&nbsp;способов доказать, что математика&nbsp;&mdash; это круто</h3>
            </a>
          </li>
        </ul>
      </div>
    </section>
