<!-- services start-->
<section class="services">
  <div class="services__container">
    <div class="services__block">
      <h2 class="visually-hidden">Cписок курсов для детей</h2>
      <a class="service__link service__link--hover-slide-right" href="/info.php"><span>Робототехника</span></a>
      <a class="service__link service__link--hover-slide-right" href="/info.php"><span>Репетитор</span></a>
      <a class="service__link service__link--hover-slide-right" href="/info.php"><span>Логопед</span></a>
      <a class="service__link service__link--hover-slide-right" href="/info.php"><span>Английский</span></a>
      <a class="service__link service__link--hover-slide-right" href="/info.php"><span>Нейропсихолог</span></a>
      <a class="service__link service__link--hover-slide-right" href="/info.php"><span>Психотерапевт</span></a>
      <a class="service__link service__link--hover-slide-right" href="/info.php"><span>Каллиграфия</span></a>
    </div>
  </div>
</section>


<!-- <section class="services">
  <div class="services__container">
    <div class="services__block">
      <h2 class="visually-hidden">Cписок курсов для детей</h2>
      <a class="service__link" href="/info.php">Робототехника</a>
      <a class="service__link" href="/info.php">Репетитор</a>
      <a class="service__link" href="/info.php">Логопед</a>
      <a class="service__link" href="/info.php">Английский</a>
      <a class="service__link" href="/info.php">Нейропсихолог</a>
      <a class="service__link" href="/info.php">Психотерапевт</a>
      <a class="service__link" href="/info.php">Каллиграфия</a>
    </div>
  </div>
</section> -->
<!-- services finish-->
