<footer class="page-footer">

  <div class="adress">
    <div class="adress__name"><span class="visually-hidden">Детский центр развития &laquo;СТАРТ&raquo; в Красноярске, в Советском районе.</span>
      Детский центр &laquo;СТАРТ&raquo;</div>
  <address class="adress__adress">
    <div><span class="visually-hidden">Адрес детского центра развития &laquo;СТАРТ&raquo; в Красноярске, в Советском районе.</span>
      г. Красноярск
    </div>
    <div><span class="visually-hidden">Адрес детского центра развития &laquo;СТАРТ&raquo; в Красноярске, в Советском районе.</span>
      ул. Мате Залки, д. 11, оф. 200
    </div>
  </address>
    <p class=" adress__email">
      <a class="adress__link" href="mailto:info@abakusstart.ru?subject=Вопрос по занятиям " target="_blank">info@abakusstart
      <span class="visually-hidden">Электронная почта.</span>
        <svg class="adress__link-svg" width="20" height="20" fill="#0033ff">
          <use xlink:href="./img/sprite.svg#sp-icon-mail"></use>
        </svg>
     </a>
    </p>
  </div>

  <div class="social">
    <ul class="social__list">
      <li class="social__item">
        <a class="social__link" href="https://instagram.com/start.centr?igshid=2c5mk9f2v986">
          <span class="visually-hidden">Инстаграм детского центра развития &laquo;СТАРТ&raquo; в Красноярске, в Советском районе.</span>
          <svg class="social__link-svg social__link-svg--insta" width="18" height="18" fill="#fff">
            <use xlink:href="img/sprite.svg#sp-icon-instagram"></use>
          </svg></a>
      </li>
      <li class="social__item">
        <a class="social__link" href="#">
          <span class="visually-hidden">Ютуб детского центра развития &laquo;СТАРТ&raquo; в Красноярске, в Советском районе.</span>
          <svg class="social__link-svg social__link-svg--yt" width="24" height="18" fill="#fff">
            <use xlink:href="img/sprite.svg#sp-icon-youtube"></use>
          </svg></a>
      </li>
      <li class="social__item">
        <a class="social__link" href="#">
          <span class="visually-hidden">Фейсбук детского центра развития &laquo;СТАРТ&raquo; в Красноярске, в Советском районе.</span>
          <svg class="social__link-svg social__link-svg--fb" width="9" height="19" fill="#fff">
            <use xlink:href="./img/sprite.svg#sp-icon-facebook"></use>
          </svg></a>
      </li>
    </ul>
  </div>
  <div class="copyright">
    <b class="copyright__text">Разработано</b>
    <a class="copyright__link" href="#">
      <span class="visually-hidden">Ссылка на сайт дизайн-студии Mandarin.</span>
      <svg class="copyright__link-svg" width="27" height="29" fill="#F48120">
        <use xlink:href="./img/sprite.svg#sp-logo-mandarin-studio"></use>
      </svg>
    </a>
    <div>
      <span class="visually-hidden">Ссылка на сайт дизайн-студии Mandarin</span>
      <a class="copyright__link-text" href="https://mandarinart.ru">Дизайн-студия Mandarin</a>
    </div>
  </div>
  <div class="page-footer__reserv reserv">
    <span class="visually-hidden">Право ООО «Берег» на сайт детского центра развития &laquo;СТАРТ&raquo; в Красноярске, в Советском районе.</span>
    <p class="reserv__text">Услуги предоставляет ООО &laquo;Берег&raquo;.<br> ИНН 2463100060&nbsp;| ОГРН 1162468062778. &copy;&nbsp;2018-2023</p>
  </div>
</footer>
