<header class="page-header">
  <nav class="main-nav" role="navigation">
    <button class="main-nav__toggle main-nav__toggle--closed main-nav__toggle--nojs" type="button" aria-expanded="false" aria-label="Menu" aria-controls="main-nav"><span
        class="visually-hidden">Кнопка открытия/закрытия меню в мобильой версии</span>
    </button>
    <div class="main-nav__wrapper" id="home">
        <ul class="main-nav__list site-list" role="menubar" data-role="menu">
          <li class="site-list__item"  data-link-item="main">
            <a class="site-list__link site-list__link--active" role="menuitem">Главная</a></li>
          <!-- site-list__item with sub-menu -->
          <li class="site-list__item" data-link-item="uslugi,mental,calligraphy,english,logopedist,neuropsychologist,repetitor,robots,psychotherapist">
            <div class="site-list__item--has-children">
              <a class="site-list__link" href="/uslugi.php" aria-current="page" aria-haspopup="true" aria-expanded="false" role="menuitem">Услуги центра</a>
              <span class="sub-menu__ikon-wrapper">
                <svg class="sub-menu__ikon" width="25.667" height="15" fill="#000000">
                  <use xlink:href="./img/sprite.svg#sp-icon-arrow_sub-menu"></use></svg>
              </span>
            </div>
            <!-- start sub-menu -->
              <div class="sub-menu__wrapper">
                <ul class="sub-menu" role="menu">
                  <li class="sub-menu__item" style="animation-delay: 0.1s;" data-link-item="mental">
                    <a class="sub-menu__item-link" href="/mentalnaya-arifmetika.php" role="menuitem">Ментальная арифметика
                      <!-- ikon start abacus-->
                        <svg class="sub-menu__item-link-svg" fill="#4b7324" width="47" height="40" viewBox="0 0 47 40">
                          <use xlink:href="./img/sprite.svg#sp-abacus_uslugi_icon"></use>
                        </svg>
                      <!-- ikon finish -->
                    </a>
                  </li>
                  <li class="sub-menu__item" style="animation-delay: 0.13s;" data-link-item="robots">
                    <a class="sub-menu__item-link" href="/info.php" role="menuitem">Робототехника
                      <!-- ikon start robot-->
                      <svg class="sub-menu__item-link-svg" fill="#401c8c" width="47" height="40" viewBox="0 0 47 40">
                        <use xlink:href="./img/sprite.svg#sp-robototehnica_uslugi_icon"></use>
                      </svg>
                      <!-- ikon finish -->
                    </a>
                  </li>
                  <li class="sub-menu__item" style="animation-delay: 0.16s;" data-link-item="repetitor">
                    <a class="sub-menu__item-link" href="/info.php" role="menuitem">Репетитор 1-4 классов
                      <!-- ikon start repetitor-->
                      <svg class="sub-menu__item-link-svg" fill="#038c8c" width="47" height="40" viewBox="0 0 47 40">
                        <use xlink:href="./img/sprite.svg#sp-repetitor_uslugi_icon"></use>
                      </svg>
                      <!-- ikon finish -->
                    </a>
                  </li>
                  <li class="sub-menu__item" style="animation-delay: 0.19s;" data-link-item="logopedist">
                    <a class="sub-menu__item-link" href="/info.php" role="menuitem">Логопед-дефектолог
                      <!-- ikon start logoped-defektolog-->
                      <svg class="sub-menu__item-link-svg" fill="#d90d58" width="47" height="40" viewBox="0 0 47 40">
                        <use xlink:href="./img/sprite.svg#sp-logoped_uslugi_icon"></use>
                      </svg>
                      <!-- ikon finish -->
                    </a>
                  </li>
                  <li class="sub-menu__item" style="animation-delay: 0.21s;" data-link-item="english">
                    <a class="sub-menu__item-link" href="/info.php" role="menuitem">Анлийский язык
                      <!-- ikon start english-->
                      <svg class="sub-menu__item-link-svg" fill="#02734a" width="47" height="40" viewBox="0 0 47 40">
                        <use xlink:href="./img/sprite.svg#sp-english_1_uslugi_icon"></use>
                      </svg>
                      <!-- ikon finish -->
                    </a>
                  </li>
                  <li class="sub-menu__item" style="animation-delay: 0.24s;" data-link-item="neuropsychologist">
                    <a class="sub-menu__item-link" href="/info.php" role="menuitem">Нейропсихолог
                      <!-- ikon start nejropsiholog-->
                      <svg class="sub-menu__item-link-svg" fill="#d94ab3" width="47" height="40" viewBox="0 0 47 40">
                        <use xlink:href="./img/sprite.svg#sp-neiropsiho_uslugi_icon"></use>
                      </svg>
                      <!-- ikon finish -->
                    </a>
                  </li>
                  <li class="sub-menu__item" style="animation-delay: 0.27s;" data-link-item="psychotherapist">
                    <a class="sub-menu__item-link" href="/info.php" role="menuitem">Психотерапевт
                      <!-- ikon start psihoterapevt-->
                      <svg class="sub-menu__item-link-svg" fill="#0b9ed9" width="47" height="40" viewBox="0 0 47 40">
                        <use xlink:href="./img/sprite.svg#sp-psiho_uslugi_icon"></use>
                      </svg>
                      <!-- ikon finish -->
                    </a>
                  </li>
                  <li class="sub-menu__item" style="animation-delay: 0.30s;" data-link-item="calligraphy">
                    <a class="sub-menu__item-link" href="/info.php" role="menuitem">Kaллиграфия
                    <!-- ikon start kalligrafiya-->
                    <svg class="sub-menu__item-link-svg" fill="#e02b40" width="47" height="40" viewBox="0 0 47 40">
                      <use xlink:href="./img/sprite.svg#sp-calligraphiya_uslugi_icon"></use>
                    </svg>
                    <!-- ikon finish -->
                  </a>
                </li>
                </ul>
              </div>
          </li>
            <!-- finish sub-menu -->
   <!-- site-list__item with sub-menu_1 -->  
   <li class="site-list__item" data-link-item="news,actions">
    <div class="site-list__item site-list__item--has-children">
      <a class="site-list__link site-list__link--news" href="#" aria-current="page" aria-haspopup="true" aria-expanded="false" role="menuitem">Новости и акции</a>
      <span class="sub-menu__ikon-wrapper sub-menu__ikon-wrapper--news">
        <svg class="sub-menu__ikon" width="25.667" height="15" fill="#000000">
          <use xlink:href="./img/sprite.svg#sp-icon-arrow_sub-menu"></use></svg>
      </span>
    </div>
    <!-- start sub-menu_1-->
      <div class="sub-menu__wrapper">
        <ul class="sub-menu sub-menu__news" role="menu">
          <li class="sub-menu__item" style="animation-delay: 0.1s;">
            <a class="sub-menu__item-link" href="/info.php" role="menuitem">Новости
              <!-- ikon start news-->
                <svg class="sub-menu__item-link-svg" fill="#22BABB" width="47" height="40" viewBox="0 0 47 40">
                  <use xlink:href="./img/sprite.svg#sp-news_sub-menu_icon"></use>
                </svg>
              <!-- ikon finish -->
            </a>
          </li>
          <li class="sub-menu__item" style="animation-delay: 0.13s;">
            <a class="sub-menu__item-link" href="/info.php" role="menuitem">Акции
              <!-- ikon start actions-->
              <svg class="sub-menu__item-link-svg" fill="#FA7F08" width="47" height="40" viewBox="0 0 47 40">
                <use xlink:href="./img/sprite.svg#sp-action_sub-menu_icon"></use>
              </svg>
              <!-- ikon finish -->
            </a>
          </li>
        </ul>
      </div>
  </li>
    <!-- finish sub-menu_1-->  
          <li class="site-list__item"  data-link-item="foto">
            <a class="site-list__link" href="/info.php">Фото и видео</a></li>
        </ul>
    </div>
    <a class="page-header__logo page-header__logo--mobile">
      <picture>
        <source media="(min-width: 1200px)" srcset="img/logo-abakusstart-desktop.svg">
        <source media="(min-width: 768px)" srcset="img/logo-abakusstart-tablet.svg">
        <img class="page-header__logo-image" src="img/logo-abakusstart-mobile.svg" alt="Логотип детского центра развития &laquo;СТАРТ&raquo; в Красноярске.">
      </picture>
    </a>
  </nav>
</header>
