<section class="banner banner--form">

  <h2 class="visually-hidden">Вводная секция с баннером форма отзыва</h2>
  <div class="banner__image banner__image--form">
   <img src="img/text-abakusstart-index_not.svg" alt="Детский центр развития &laquo;СТАРТ&raquo; в Красноярске,
    в Северном." width="229" height="138">
  </div>

  <div class="banner__wrapper">
    <p class="banner__slogan">Оставьте свой отзыв</p>
    <p class="banner__intro banner__intro--form">Помогите нашему центру стать лучше! Оставьте отзыв о нас, а также,
      что бы Вы хотели изменить в работе нашего центра.</p>
  </div>
</section>
