<section class="advantages">
  <div class="advantages__wrapper slider">
    <h2 class="advantages__title visually-hidden">Преимущества детского центра развития &laquo;СТАРТ&raquo; в
      Красноярске, в Советском районе.</h2>
      <h3 class="advantages__title">Наши преимущества</h3>
        <input class="slider__input" type="radio" name="advantages" id="advantages-input-1" checked>
        <input class="slider__input" type="radio" name="advantages" id="advantages-input-2">
        <input class="slider__input" type="radio" name="advantages" id="advantages-input-3">
        <ul class="advantages__items">
          <li class="advantages__item  advantages__item--abacus  slider__item">
            <h4 class="advantages__item-title">Интересно</h4>
            <p>Мы работаем по франшизе международной школы ментальной арифметики &laquo;Абакус-центр&raquo;. Учиться по нашим методикам интересно и эффективно.</p>
          </li>
          <li class="advantages__item  advantages__item--cool  slider__item">
            <h4 class="advantages__item-title">Круто</h4>
            <p>Наши дети с раннего возраста не только придумывают, развивают логику и мышление, но и ездят на международные олимпиады и занимают призовые места.</p>
          </li>
          <li class="advantages__item  advantages__item--expensive  slider__item">
            <h4 class="advantages__item-title">&laquo;Дорого&raquo;</h4>
            <p>У вас есть возможность познакомиться с нашим центром. Бесплатный первый урок! Только проверенные вами услуги.  Вас приятно удивят наши цены.</p>
          </li>
        </ul>
        <div class="advantages__toggles  slider__toggles">
          <label class="slider__toggle" for="advantages-input-1">1</label>
          <label class="slider__toggle" for="advantages-input-2">2</label>
          <label class="slider__toggle" for="advantages-input-3">3</label>
        </div>
  </div>
</section>
