<section class="all-reasons">
  <h2 class="visually-hidden">Преимущества детского центра развития &laquo;СТАРТ &raquo; в Красноярске.</h2>
  <ul class="all-reasons-list">
    <li class="reason reason--first">
      <div class="reason__wrapper">
        <h3 class="reason__title">Ментальная арифметика</h3>
        <span class="reason__number">— №1 —</span>
        <p class="reason__description">Международная школа по ментальной арифметике &laquo;Абакус-центр&raquo;</p>
      </div>

      <div class="reason__image-wrapper">
        <div class="reason__details">
          <h3 class="reason__details-header">Детский центр &laquo;СТАРТ&raquo; продолжает набор детей с 3,5 до 15 лет</h3>
          <p class="reason__details-text">У нас работают специалисты, прошедшие стажировки в Москве у китайских коллег.
            Ментальная арифметика в центре работает по франшизе Международной школы &laquo;Абакус-центр&raquo;.</p>
          <p class="reason__details-text--action">Первое занятие бесплатно!</p>
        </div>
        <picture>
          <source type="image/webp" media="(min-width: 1200px)"
            srcset="img/main-mental-arithmetic-desktop@1x.webp 1x, img/main-mental-arithmetic-desktop@2x.webp 2x">
          <source type="image/webp" media="(min-width: 768px)"
            srcset="img/main-mental-arithmetic-tablet@1x.webp 1x, img/main-mental-arithmetic-tablet@2x.webp 2x">
          <source type="image/webp" srcset="img/main-mental-arithmetic-mobile@1x.webp 1x, img/main-mental-arithmetic-mobile@2x.webp 2x">

          <source media="(min-width: 1200px)"
            srcset="img/main-mental-arithmetic-desktop@1x.jpg 1x, img/main-mental-arithmetic-desktop@2x.jpg 2x">
          <source media="(min-width: 768px)"
            srcset="img/main-mental-arithmetic-tablet@1x.jpg 1x, img/main-mental-arithmetic-tablet@2x.jpg 2x">
          <img class="reason__img" src="img/main-mental-arithmetic-desktop@1x.jpg"
            srcset="img/main-mental-arithmetic-mobile@1x.jpg 1x, img/main-mental-arithmetic-mobile@2x.jpg 2x"
            alt="Ребенок тренирует внимание и усидчивость, занимаясь ментальной арифметикой на счетах.">
        </picture>
      </div>
    </li>


    <li class="features">
      <ul class="features__list">
        <li class="features__item features__item--reading">
          <h3 class="features__title">Дошколенок</h3>
          <p class="features__description">&laquo;Осмысленное чтение&raquo; научит не только быстро читать, но и грамотно писать!</p>
        </li>
        <li class="features__item features__item--abacus">
          <h3 class="features__title">ABACUS Professional </h3>
          <p class="features__description">Быстрый счет, усидчивость. Методика рекомендована для детей с 4 лет!</p>
        </li>
        <li class="features__item features__item--robot">
          <h3 class="features__title">Школа юного инженера</h3>
          <p class="features__description">Развитие мелкой моторики и логического мышления!</p>
        </li>
      </ul>
    </li>



    <li class="reason reason--reverse">
      <div class="reason__wrapper">
        <h3 class="reason__title"> Робототехника</h3>
        <span class="reason__number">— №2 —</span>
        <p class="reason__description">Возможность создать свой собственный проект и проявить инженерные способности</p>
      </div>
      <div class="reason__image-wrapper">
        <div class="reason__details">
          <h3 class="reason__details-header">Детский центр &laquo;СТАРТ&raquo; продолжает набор детей с 3,5 до 15 лет</h3>
          <p class="reason__details-text"> &laquo;Робототехника и школа юного инженера&raquo; заложит в вашем ребенке основы понимания от природных явлений до программирования роботов.</p>
          <p class="reason__details-text--action">Первое занятие бесплатно!</p>
        </div>
        <picture>
          <source type="image/webp" media="(min-width: 1200px)"
            srcset="img/main-robotics-desktop@1x.webp 1x, img/main-robotics-desktop@2x.webp 2x">
          <source type="image/webp" media="(min-width: 768px)"
            srcset="img/main-robotics-tablet@1x.webp 1x, img/main-robotics-tablet@2x.webp 2x">
          <source type="image/webp" srcset="img/main-robotics-mobile@1x.webp 1x, img/main-robotics-mobile@2x.webp 2x">

          <source media="(min-width: 1200px)"
            srcset="img/main-robotics-desktop@1x.jpg 1x, img/main-robotics-desktop@2x.jpg 2x">
          <source media="(min-width: 768px)"
            srcset="img/main-robotics-tablet@1x.jpg 1x, img/main-robotics-tablet@2x.jpg 2x">
          <img class="reason__img reason__img--2" src="img/main-robotics-mobile@1x.jpg"
            srcset="img/main-robotics-mobile@1x.jpg 1x, img/main-robotics-mobile@2x.jpg 2x"
            alt="Ребята собирают робота, развивая мелкую моторику логическое мышление на занятие по робототехнике.">
        </picture>
      </div>
    </li>


    <li class="reasons">
      <ul class="reasons__list-grey">
        <li class="reasons__item-grey reasons__hr">
          <h3 class="reasons__title-grey">Подготовка к школе</h3>
          <span class="reasons__number-grey">— №3 —</span>
          <p class="reasons__description-grey">Подготовим вашего ребенка в школу по ФГОСам. С 5 лет!</p>
        </li>
        <li class="reasons__item-grey reasons__hr">
          <h3 class="reasons__title-grey">Продленка, прогулки</h3>
          <span class="reasons__number-grey">— №4 —</span>
          <p class="reasons__description-grey">С 8-12, c 12-19 часов. Обед, домашние задания, студии по интересам.
            </p>
        </li>
        <li class="reasons__item-grey">
          <h3 class="reasons__title-grey">Логопед-дефектолог</h3>
          <span class="reasons__number-grey">— №5 —</span>
          <p class="reasons__description-grey">Исправляет все виды речевых нарушений у детей!</p>
        </li>
      </ul>
    </li>
  </ul>
</section>
