<section class="banner">
  <h2 class="visually-hidden">Вводная секция с баннером о детском центре развития &laquo;СТАРТ&raquo; в Красноярске.</h2>
  <div class="banner__image banner__image--index">
    <img src="img/text-abakusstart-index.svg" alt="Детский центр развития &laquo;СТАРТ&raquo; в Красноярске, в Советском районе." width="280" height="213">
  </div>
  <div class="banner__wrapper">
    <p class="banner__slogan banner__slogan--small">Ваш ребенок гениален! Дайте ему шанс!
    </p>
    <p class="banner__slogan banner__slogan--action">
      Первое занятие бесплатно!
    </p>
    <!-- кнопка записи на первое занятие -->
    <a class="banner__action-сall button" href="tel:+79080104854">Записаться!
      <span class="visually-hidden">Телефон для записи на первое бесплатное занятие детского центра развития &laquo;СТАРТ&raquo; в Красноярске, в Северном.</span>
        <svg class="banner__icon-svg" width="40" height="37" fill="#ffde03">
          <use xlink:href="./img/sprite.svg#sp-icon-viber"></use>
        </svg>
    </a>
    <!-- кнопка записи на первое занятие -->

    <p class="banner__intro">Рассмотрим 5 причин, по которым нужно выбрать нас!</p>
  </div>
</section>
