<section class="news">
  <h2 class="visually-hidden">Последние новости и акции детского центра развития &laquo;СТАРТ&raquo; в
    Красноярске, в Советском районе.</h2>
  <div class="news__wrapper">
    <h3 class="news__title">Весенние акции!</h3>
    <ul class="news__items">
      <li class="news__item">
        <a class="news__item-wrapper" href="info.html">
          <time class="news__date" datetime="2023-02-28"><b class="news__day">28</b>фев</time>
          <p class="news__text">Приглашаем детей от 4,5 лет в школу юного инженера и робототехники. Разовое посещение занятия по робототехнике – 500 <span class="news__rub">Р</span>. Ждём всех желающих в четверг в 18.30.</p>
        </a>
      </li>
      <li class="news__item">
        <a class="news__item-wrapper" href="info.html">
          <time class="news__date" datetime="2023-03-03"><b class="news__day">02</b>мар</time>
          <p class="news__text">Индивидуальное занятие по ментальной арифметике – 1100 <span class="news__rub">Р</span>. Групповое – 900 <span class="news__rub">Р</span>.
            Новинка: <span style="text-transform: uppercase;
            font-weight: bold;">&laquo;Бегом от Альцгеймера&raquo;</span>. Набираем группы для взрослых, скидка для пенсионеров – 100 <span class="news__rub">Р</span>.
           </p>
        </a>
      </li>
      <li class="news__item news__item--show">
        <a class="news__item-wrapper" href="info.html">
          <time class="news__date" datetime="2023-03-08"><b class="news__day">08</b>мар</time>
          <p class="news__text">Занятие с логопедом-дефектологом – 850 <span class="news__rub">Р</span>. Прием  и консультация когнитивно-поведенческого  психотерапевта 16+ – 1800 <span class="news__rub">Р</span>.
          Консультация и диагностика у детского нейропсихолога – 1500 <span class="news__rub">Р</span>.</p>
        </a>
      </li>
    </ul>
    <a class="news__to-all button" href="info.html">Показать все</a>
  </div>
</section>
