<section class="offer">
  <div class="offer__wrapper">
    <h2 class="visually-hidden">Телефон детского центра развития &laquo;СТАРТ&raquo; в Красноярске и геолокация.</h2>
    <b class="offer__question">Заинтересовались?</b>
    <p class="offer__description">Пожалуйста, позвоните нам, и&nbsp;мы&nbsp;поможем&nbsp;подобрать лучшую прогаммму для вашего ребенка</p>
    <a class="offer__open-search button" href="tel:+79080104854">8 908 010 4854
      <span class="visually-hidden">Телефон детского центра развития &laquo;СТАРТ&raquo; в Красноярске, в Советском районе.</span>
        <svg class="offer__icon-svg" width="40" height="37" fill="#ffde03">
          <use xlink:href="#sp-icon-viber"></use>
        </svg>
    </a>
  </div>

  <div class="offer__map map">
    <h2 class="visually-hidden">Расположение детского центра &laquo;СТАРТ&raquo; в Красноярске, в Советском районе на карте.</h2>
    <iframe class="map__inter-map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2227.3343829068476!2d92.93974645205523!3d56.06482338054285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5cd7af5b349d8d79%3A0x186f62fa3c324d4e!2z0YPQuy4g0JzQsNGC0LUg0JfQsNC70LrQuCwgMTEsINCa0YDQsNGB0L3QvtGP0YDRgdC6LCDQmtGA0LDRgdC90L7Rj9GA0YHQutC40Lkg0LrRgNCw0LksIDY2MDEyNw!5e0!3m2!1sru!2sru!4v1572878772919!5m2!1sru!2sru"></iframe>
  </div>
</section>
