<section class="reviews">
  <div class="reviews__wrapper slider">
    <h2 class="visually-hidden">Отзывы родителей о детском центре развития &laquo;СТАРТ&raquo; в
      Красноярске, в Северном.</h2>
     <h3 class="reviews__title">Отзывы о нас</h3>
        <input class="slider__input reviews__input" type="radio" name="reviews" id="reviews-input-1" checked>
        <input class="slider__input reviews__input" type="radio" name="reviews" id="reviews-input-2">
        <input class="slider__input reviews__input" type="radio" name="reviews" id="reviews-input-3">
        <div class="reviews__items">
          <blockquote class="reviews__item slider__item">
            <div class="reviews__author-photo">
              <img src="img/anastasiya-g.jpg" alt="Фото Анастасии Г для отзыва детском центре развития &laquo;СТАРТ&raquo; в
              Красноярске, в Северном.">
            </div>
            <cite class="reviews__author-name">Анастасия Г</cite>
            <p>Посетила центр с племянницей, пробное занятие бесплатно. Ребенок остался доволен. Важно – дружелюбные сотрудники, приходим к друзьям в гости.</p>
            <p role="text" aria-label="Рейтинг 5 из 5" class="reviews__star-rating">5.0</p>
          </blockquote>
          <blockquote class="reviews__item slider__item">
            <div class="reviews__author-photo reviews__author-photo--anna">
              <img src="img/anna-p.jpg" alt=" Фото Анны П для отзыва детском центре &laquo;СТАРТ&raquo; в
              Красноярске, в Северном.">
            </div>
            <cite class="reviews__author-name">Анна П</cite>
            <p> Ходим в этот центр уже 3-й год. Начали ходить на «дошколенок» и робототехнику. Нравится подход к детям, программы, доступные цены и что рядом с домом.</p>
            <p role="text" aria-label="Рейтинг 4.9 из 5" class="reviews__star-rating">4.9</p>
          </blockquote>
          <blockquote class="reviews__item slider__item">
            <div class="reviews__author-photo">
              <img src="img/anastasiya-sh.jpg" alt="Фото Анастасии Щ для отзыва детском центре &laquo;СТАРТ&raquo; в
              Красноярске, в Северном.">
            </div>
            <cite class="reviews__author-name">Анастасия Щ</cite>
            <p> Ребёнок доволен, с радостью идёт всегда на робототехнику и менталку. За это благодарность учителям! Хочу отметить комфортное и чистое помещение центра!</p>
            <p  role="text" aria-label="Рейтинг 5 из 5" class="reviews__star-rating">5.0</p>
          </blockquote>
          <button class="reviews__prev" type="button">Предыдущий отзыв</button>
          <button class="reviews__next" type="button">Следующий отзыв</button>
        </div>
        <div class="reviews__toggles  slider__toggles">
          <label class="reviews__toggle  slider__toggle" for="reviews-input-1">1</label>
          <label class="reviews__toggle  slider__toggle" for="reviews-input-2">2</label>
          <label class="reviews__toggle  slider__toggle" for="reviews-input-3">3</label>
        </div>
        <a class="reviews__write-btn button" href="/form.php">Оставить свой</a>
  </div>
</section>
